# Setup

In [1]:
# !pip install optuna

# import optuna
# from optuna.samplers import TPESampler

In [2]:
pip install xgboost

Requirement already satisfied: xgboost in c:\users\sklee\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: numpy in c:\users\sklee\anaconda3\lib\site-packages (from xgboost) (1.26.4)
Requirement already satisfied: scipy in c:\users\sklee\anaconda3\lib\site-packages (from xgboost) (1.11.4)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install lightgbm

Requirement already satisfied: lightgbm in c:\users\sklee\anaconda3\lib\site-packages (4.4.0)
Requirement already satisfied: numpy>=1.17.0 in c:\users\sklee\anaconda3\lib\site-packages (from lightgbm) (1.26.4)
Requirement already satisfied: scipy in c:\users\sklee\anaconda3\lib\site-packages (from lightgbm) (1.11.4)
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install catboost

Requirement already satisfied: catboost in c:\users\sklee\anaconda3\lib\site-packages (1.2.5)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: graphviz in c:\users\sklee\anaconda3\lib\site-packages (from catboost) (0.20.3)
Requirement already satisfied: matplotlib in c:\users\sklee\anaconda3\lib\site-packages (from catboost) (3.8.0)
Requirement already satisfied: numpy>=1.16.0 in c:\users\sklee\anaconda3\lib\site-packages (from catboost) (1.26.4)
Requirement already satisfied: pandas>=0.24 in c:\users\sklee\anaconda3\lib\site-packages (from catboost) (2.1.4)
Requirement already satisfied: scipy in c:\users\sklee\anaconda3\lib\site-packages (from catboost) (1.11.4)
Requirement already satisfied: plotly in c:\users\sklee\anaconda3\lib\site-packages (from catboost) (5.9.0)
Requirement already satisfied: six in c:\users\sklee\anaconda3\lib\site-packages (from catboost) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sklee\anaconda3\lib\site-packages (from pandas>=0.24->catboost) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\sklee\anaconda3\lib\site-packages (from pandas>=0.24->catboost) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\sklee\anaconda3\lib\site-packages (from pandas>=0.24->catboost) (2023.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\sklee\anaconda3\lib\site-packages (from matplotlib->catboost) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\sklee\anaconda3\lib\site-packages (from matplotlib->catboost) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\sklee\anaconda3\lib\site-packages (from matplotlib->catboost) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\sklee\anaconda3\lib\site-packages (from matplotlib->catboost) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\sklee\anaconda3\lib\site-packages (from matplotlib->catboost) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\sklee\anaconda3\lib\site-packages (from matplotlib->catboost) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\sklee\anaconda3\lib\site-packages (from matplotlib->catboost) (3.0.9)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\sklee\anaconda3\lib\site-packages (from plotly->catboost) (8.2.2)

In [5]:
import numpy as np
import pandas as pd

import xgboost as xgb
import lightgbm as lgb
from xgboost import XGBRegressor, XGBClassifier
from lightgbm import LGBMRegressor, LGBMClassifier
from catboost import CatBoostRegressor, CatBoostClassifier
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier

from sklearn.model_selection import KFold, StratifiedKFold
from sklearn.model_selection import cross_val_score
from sklearn.metrics import mean_absolute_error, mean_squared_error, mean_squared_log_error
from sklearn.metrics import accuracy_score, f1_score, roc_auc_score, log_loss
from sklearn.metrics import confusion_matrix
from sklearn.preprocessing import LabelEncoder

In [6]:
import plotly.express as px
import plotly.graph_objects as go
import plotly.io as pio
from plotly.subplots import make_subplots

import matplotlib.pyplot as plt
import seaborn as sns

pio.templates.default = 'plotly_dark'
# pio.templates['plotly_dark'].layout['height'] = 500

In [7]:
import dask.dataframe as dd

In [8]:
import gc
gc.collect()

554

In [9]:
# import warnings
# warnings.filterwarnings(action='ignore')

In [10]:
!pip install numpy==1.21.4

ERROR: Ignored the following versions that require a different python version: 1.21.2 Requires-Python >=3.7,<3.11; 1.21.3 Requires-Python >=3.7,<3.11; 1.21.4 Requires-Python >=3.7,<3.11; 1.21.5 Requires-Python >=3.7,<3.11; 1.21.6 Requires-Python >=3.7,<3.11
ERROR: Could not find a version that satisfies the requirement numpy==1.21.4 (from versions: 1.3.0, 1.4.1, 1.5.0, 1.5.1, 1.6.0, 1.6.1, 1.6.2, 1.7.0, 1.7.1, 1.7.2, 1.8.0, 1.8.1, 1.8.2, 1.9.0, 1.9.1, 1.9.2, 1.9.3, 1.10.0.post2, 1.10.1, 1.10.2, 1.10.4, 1.11.0, 1.11.1, 1.11.2, 1.11.3, 1.12.0, 1.12.1, 1.13.0, 1.13.1, 1.13.3, 1.14.0, 1.14.1, 1.14.2, 1.14.3, 1.14.4, 1.14.5, 1.14.6, 1.15.0, 1.15.1, 1.15.2, 1.15.3, 1.15.4, 1.16.0, 1.16.1, 1.16.2, 1.16.3, 1.16.4, 1.16.5, 1.16.6, 1.17.0, 1.17.1, 1.17.2, 1.17.3, 1.17.4, 1.17.5, 1.18.0, 1.18.1, 1.18.2, 1.18.3, 1.18.4, 1.18.5, 1.19.0, 1.19.1, 1.19.2, 1.19.3, 1.19.4, 1.19.5, 1.20.0, 1.20.1, 1.20.2, 1.20.3, 1.21.0, 1.21.1, 1.22.0, 1.22.1, 1.22.2, 1.22.3, 1.22.4, 1.23.0rc1, 1.23.0rc2, 1.23.0rc3, 1.23.0, 1.23.1, 1.23.2, 1.23.3, 1.23.4, 1.23.5, 1.24.0rc1, 1.24.0rc2, 1.24.0, 1.24.1, 1.24.2, 1.24.3, 1.24.4, 1.25.0rc1, 1.25.0, 1.25.1, 1.25.2, 1.26.0b1, 1.26.0rc1, 1.26.0, 1.26.1, 1.26.2, 1.26.3, 1.26.4, 2.0.0b1, 2.0.0rc1, 2.0.0rc2, 2.0.0)
ERROR: No matching distribution found for numpy==1.21.4

In [11]:
import numpy as np
print(np.__version__)

1.26.4

# Dataset

In [12]:
# dtypes = {
#         'ip'            : 'uint32',
#         'app'           : 'uint16',
#         'device'        : 'uint16',
#         'os'            : 'uint16',
#         'channel'       : 'uint16',
#         'is_attributed' : 'uint8',
#         }

# columns = ['ip', 'app', 'device', 'os', 'channel', 'click_time', 'is_attributed']

# train_df = pd.read_csv("train_new3", usecols=columns, dtype=dtypes)

# train_df.info()

In [13]:
import itertools
col = ['ip', 'app', 'os', 'channel', 'device']
all_combinations = []

# Generate all combinations from length 1 to length of col
for r in range(1, len(col) + 1):
    combinations = itertools.combinations(col, r)
    for combination in combinations:
        all_combinations.append(combination)
        
all_combinations

[('ip',),
 ('app',),
 ('os',),
 ('channel',),
 ('device',),
 ('ip', 'app'),
 ('ip', 'os'),
 ('ip', 'channel'),
 ('ip', 'device'),
 ('app', 'os'),
 ('app', 'channel'),
 ('app', 'device'),
 ('os', 'channel'),
 ('os', 'device'),
 ('channel', 'device'),
 ('ip', 'app', 'os'),
 ('ip', 'app', 'channel'),
 ('ip', 'app', 'device'),
 ('ip', 'os', 'channel'),
 ('ip', 'os', 'device'),
 ('ip', 'channel', 'device'),
 ('app', 'os', 'channel'),
 ('app', 'os', 'device'),
 ('app', 'channel', 'device'),
 ('os', 'channel', 'device'),
 ('ip', 'app', 'os', 'channel'),
 ('ip', 'app', 'os', 'device'),
 ('ip', 'app', 'channel', 'device'),
 ('ip', 'os', 'channel', 'device'),
 ('app', 'os', 'channel', 'device'),
 ('ip', 'app', 'os', 'channel', 'device')]

In [14]:
for combo in all_combinations:
    combo_list = list(combo)
    print(f'prev_click_time_diff_{"+".join(combo_list)}')

prev_click_time_diff_ip
prev_click_time_diff_app
prev_click_time_diff_os
prev_click_time_diff_channel
prev_click_time_diff_device
prev_click_time_diff_ip+app
prev_click_time_diff_ip+os
prev_click_time_diff_ip+channel
prev_click_time_diff_ip+device
prev_click_time_diff_app+os
prev_click_time_diff_app+channel
prev_click_time_diff_app+device
prev_click_time_diff_os+channel
prev_click_time_diff_os+device
prev_click_time_diff_channel+device
prev_click_time_diff_ip+app+os
prev_click_time_diff_ip+app+channel
prev_click_time_diff_ip+app+device
prev_click_time_diff_ip+os+channel
prev_click_time_diff_ip+os+device
prev_click_time_diff_ip+channel+device
prev_click_time_diff_app+os+channel
prev_click_time_diff_app+os+device
prev_click_time_diff_app+channel+device
prev_click_time_diff_os+channel+device
prev_click_time_diff_ip+app+os+channel
prev_click_time_diff_ip+app+os+device
prev_click_time_diff_ip+app+channel+device
prev_click_time_diff_ip+os+channel+device
prev_click_time_diff_app+os+channel+device
prev_click_time_diff_ip+app+os+channel+device

In [15]:
prev_click_columns = []
for combo in all_combinations:
    combo_list = list(combo)
    prev_click_columns += [f'prev_click_time_diff_{"_".join(combo_list)}']
    
prev_click_columns

['prev_click_time_diff_ip',
 'prev_click_time_diff_app',
 'prev_click_time_diff_os',
 'prev_click_time_diff_channel',
 'prev_click_time_diff_device',
 'prev_click_time_diff_ip_app',
 'prev_click_time_diff_ip_os',
 'prev_click_time_diff_ip_channel',
 'prev_click_time_diff_ip_device',
 'prev_click_time_diff_app_os',
 'prev_click_time_diff_app_channel',
 'prev_click_time_diff_app_device',
 'prev_click_time_diff_os_channel',
 'prev_click_time_diff_os_device',
 'prev_click_time_diff_channel_device',
 'prev_click_time_diff_ip_app_os',
 'prev_click_time_diff_ip_app_channel',
 'prev_click_time_diff_ip_app_device',
 'prev_click_time_diff_ip_os_channel',
 'prev_click_time_diff_ip_os_device',
 'prev_click_time_diff_ip_channel_device',
 'prev_click_time_diff_app_os_channel',
 'prev_click_time_diff_app_os_device',
 'prev_click_time_diff_app_channel_device',
 'prev_click_time_diff_os_channel_device',
 'prev_click_time_diff_ip_app_os_channel',
 'prev_click_time_diff_ip_app_os_device',
 'prev_click_time_diff_ip_app_channel_device',
 'prev_click_time_diff_ip_os_channel_device',
 'prev_click_time_diff_app_os_channel_device',
 'prev_click_time_diff_ip_app_os_channel_device']

In [16]:
from itertools import permutations
topic_columns = []
for i, (var1, var2) in enumerate(permutations(col, 2), start=1):
    for j in range(5) :
        topic_columns.append(f'topic_{var1}+{var2}_{j+1}')

In [17]:
len(topic_columns)

100

In [18]:
# dtypes = {
#         'ip'            : 'uint32',
#         'app'           : 'uint16',
#         'device'        : 'uint16',
#         'os'            : 'uint16',
#         'channel'       : 'uint16',
#         'is_attributed' : 'uint8',
#         }

# columns = ['ip', 'app', 'device', 'os', 'channel', 'click_time', 'is_attributed']

# #train_df = pd.read_csv("train_full_click.csv", usecols=columns, dtype=dtypes)
# train_df = pd.read_csv("train_small_20.csv", usecols=columns, dtype=dtypes)

# train_df.info()

In [19]:
# dtypes = {
#     'ip'            : 'uint32',
#     'app'           : 'uint16',
#     'device'        : 'uint16',
#     'os'            : 'uint16',
#     'channel'       : 'uint16',
#     'is_attributed' : 'uint8',
# }

# file_name = "train_small_20.csv"
# columns = ['ip', 'app', 'device', 'os', 'channel', 'click_time', 'is_attributed']

# # Assuming 'prev_click_time_diff_' columns are generated or known
# # For example, let's assume we have prev_click_time_diff_1, prev_click_time_diff_2

# # Read the first row of the CSV to get the existing columns
# sample_df = pd.read_csv(file_name, nrows=1)
# existing_columns = sample_df.columns.tolist()

# # Filter the columns and dtypes based on existing columns
# valid_columns = [col for col in columns if col in existing_columns]
# valid_prev_click_columns = [col for col in topic_columns if col in existing_columns]
# valid_prev_click_columns += [col for col in prev_click_columns if col in existing_columns]

# # Update the columns and dtypes
# valid_columns += valid_prev_click_columns

# # Include 'prev_click_time_diff_' columns as uint32
# #for col in valid_prev_click_columns:
# #    dtypes[col] = 'uint32'

# # Create valid_dtypes for columns that exist in the CSV
# #valid_dtypes = {col: dtype for col, dtype in dtypes.items() if col in valid_columns}

# # Read the CSV file with the updated dtypes and columns
# train_df = pd.read_csv(file_name, usecols=valid_columns, dtype=dtypes)

# st = len(valid_prev_click_columns)

# # Display the DataFrame info
# train_df.info()

In [20]:
# valid_prev_click_columns

In [21]:
# len(valid_prev_click_columns)

In [22]:
# dtypes = {
#     'ip'            : 'uint32',
#     'app'           : 'uint16',
#     'device'        : 'uint16',
#     'os'            : 'uint16',
#     'channel'       : 'uint16',
#     'is_attributed' : 'uint8',
# }

# file_name = "train_new4"
# columns = ['ip', 'app', 'device', 'os', 'channel', 'click_time', 'is_attributed']

# # Assuming 'prev_click_time_diff_' columns are generated or known
# # For example, let's assume we have prev_click_time_diff_1, prev_click_time_diff_2

# # Read the first row of the CSV to get the existing columns
# sample_df = pd.read_csv(file_name, nrows=1)
# existing_columns = sample_df.columns.tolist()

# # Filter the columns and dtypes based on existing columns
# valid_columns = [col for col in columns if col in existing_columns]
# valid_prev_click_columns = [col for col in prev_click_columns if col in existing_columns]

# # Update the columns and dtypes
# valid_columns += valid_prev_click_columns

# # Include 'prev_click_time_diff_' columns as uint32
# #for col in valid_prev_click_columns:
# #    dtypes[col] = 'uint32'

# # Create valid_dtypes for columns that exist in the CSV
# #valid_dtypes = {col: dtype for col, dtype in dtypes.items() if col in valid_columns}

# # Read the CSV file with the updated dtypes and columns
# train_df = pd.read_csv(file_name, usecols=valid_columns, dtype=dtypes)

#st = len(valid_prev_click_columns)

# # Display the DataFrame info
# train_df.info()

## input

In [23]:
dtypes = {
        'ip'            : 'uint32',
        'app'           : 'uint16',
        'device'        : 'uint16',
        'os'            : 'uint16',
        'channel'       : 'uint16',
        'is_attributed' : 'uint8',
        }

In [24]:
# %%time
# train_df = pd.read_csv("full_train_final_only_click.csv", dtype = dtypes)
# train_df

In [25]:
%%time
train_df = pd.read_csv("train_sample.csv", dtype = dtypes)
train_df

CPU times: total: 62.5 ms
Wall time: 139 ms

,ip,app,device,os,channel,click_time,attributed_time,is_attributed
0,87540,12,1,13,497,2017-11-07 09:30:38,NaN,0
1,105560,25,1,17,259,2017-11-07 13:40:27,NaN,0
2,101424,12,1,19,212,2017-11-07 18:05:24,NaN,0
3,94584,13,1,13,477,2017-11-07 04:58:08,NaN,0
4,68413,12,1,1,178,2017-11-09 09:00:09,NaN,0
...,...,...,...,...,...,...,...,...
99995,124883,11,1,19,122,2017-11-09 13:25:41,NaN,0
99996,85150,9,1,13,244,2017-11-07 11:25:43,NaN,0
99997,18839,3,1,13,19,2017-11-08 11:38:42,NaN,0
99998,114276,15,1,12,245,2017-11-08 17:55:21,NaN,0
99999,119349,14,1,15,401,2017-11-07 14:32:27,NaN,0

In [26]:
# for col in train_df.columns:
#     if col not in dtypes:
#         if col != 'click_time' :
#             train_df[col] = train_df[col].fillna(-1).astype('int16').replace({-1: np.nan})

In [27]:
train_df.describe()

,ip,app,device,os,channel,is_attributed
count,100000.000000,100000.00000,100000.000000,100000.000000,100000.000000,100000.000000
mean,91255.879670,12.04788,21.771250,22.818280,268.832460,0.002270
std,69835.553661,14.94150,259.667767,55.943136,129.724248,0.047591
min,9.000000,1.00000,0.000000,0.000000,3.000000,0.000000
25%,40552.000000,3.00000,1.000000,13.000000,145.000000,0.000000
50%,79827.000000,12.00000,1.000000,18.000000,258.000000,0.000000
75%,118252.000000,15.00000,1.000000,19.000000,379.000000,0.000000
max,364757.000000,551.00000,3867.000000,866.000000,498.000000,1.000000

In [28]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 8 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   ip               100000 non-null  uint32
 1   app              100000 non-null  uint16
 2   device           100000 non-null  uint16
 3   os               100000 non-null  uint16
 4   channel          100000 non-null  uint16
 5   click_time       100000 non-null  object
 6   attributed_time  227 non-null     object
 7   is_attributed    100000 non-null  uint8
dtypes: object(2), uint16(4), uint32(1), uint8(1)
memory usage: 2.8+ MB

In [29]:
dtypes = {
        'ip'            : 'uint32',
        'app'           : 'uint16',
        'device'        : 'uint16',
        'os'            : 'uint16',
        'channel'       : 'uint16',
        'is_attributed' : 'uint8',
        }

#test_df = pd.read_csv("test_click.csv", dtype = dtypes)
test_df = pd.read_csv("test.csv", dtype = dtypes)
test_df

          click_id      ip  app  device  os  channel           click_time
0                0    5744    9       1   3      107  2017-11-10 04:00:00
1                1  119901    9       1   3      466  2017-11-10 04:00:00
2                2   72287   21       1  19      128  2017-11-10 04:00:00
3                3   78477   15       1  13      111  2017-11-10 04:00:00
4                4  123080   12       1  13      328  2017-11-10 04:00:00
...            ...     ...  ...     ...  ..      ...                  ...
18790464  18790464   99442    9       1  13      127  2017-11-10 15:00:00
18790465  18790465   88046   23       1  37      153  2017-11-10 15:00:00
18790466  18790467   81398   18       1  17      265  2017-11-10 15:00:00
18790467  18790466  123236   27       1  13      122  2017-11-10 15:00:00
18790468  18790468   73516   12       2  27      265  2017-11-10 15:00:00

[18790469 rows x 7 columns]

In [30]:
# for col in train_df.columns:
#     if col not in dtypes:
#         if col != 'click_time' :
#             test_df[col] = test_df[col].fillna(-1).astype('int16').replace({-1: np.nan})

In [31]:
# # train = pd.read_csv('small_train_fea106.csv', nrows = 1)
# # train
# train_df = pd.read_csv("train_sample.csv")

In [32]:
# train = pd.read_csv('small_train_fea106.csv')
# train

In [33]:
# train.info()

In [34]:
# uint8_cols = ['is_attributed', 'click_time_hour', 'click_time_minute', 'real_clicks_1hr', 'real_clicks_6hr']
# train_df[uint8_cols] = train_df[uint8_cols].astype(np.uint8)

# # 나머지 모든 열을 float32로 변환
# exclude_cols = uint8_cols + ['click_time']
# float32_cols = train_df.columns.difference(exclude_cols)
# train_df[float32_cols] = train_df[float32_cols].astype(np.float32)

In [35]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 8 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   ip               100000 non-null  uint32
 1   app              100000 non-null  uint16
 2   device           100000 non-null  uint16
 3   os               100000 non-null  uint16
 4   channel          100000 non-null  uint16
 5   click_time       100000 non-null  object
 6   attributed_time  227 non-null     object
 7   is_attributed    100000 non-null  uint8
dtypes: object(2), uint16(4), uint32(1), uint8(1)
memory usage: 2.8+ MB

In [36]:
# np.sum(train_df['topic_ip+os+_1'] + train['topic_ip+os+_2'] + train['topic_ip+os+_3'] + train['topic_ip+os+_4'] + train['topic_ip+os+_5'])

In [37]:
dtypes = {
        'ip'            : 'uint32',
        'app'           : 'uint16',
        'device'        : 'uint16',
        'os'            : 'uint16',
        'channel'       : 'uint16',
        'is_attributed' : 'uint8',
        }

In [38]:

#train_df = pd.read_csv("small_train_final.csv")
#test_df = pd.read_csv("test_final.csv")

#train_df = pd.read_csv("full_train_final_only_click.csv")
#test_df = pd.read_csv("full_test_final_only_click.csv")

#train_df = pd.read_csv("train.csv")

In [39]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18790469 entries, 0 to 18790468
Data columns (total 7 columns):
 #   Column      Dtype
---  ------      -----
 0   click_id    int64
 1   ip          uint32
 2   app         uint16
 3   device      uint16
 4   os          uint16
 5   channel     uint16
 6   click_time  object
dtypes: int64(1), object(1), uint16(4), uint32(1)
memory usage: 501.8+ MB

In [40]:
test_df.shape

(18790469, 7)

In [41]:
# st = 17

In [42]:
# dtypes_test = {
#         'ip'            : 'uint32',
#         'app'           : 'uint16',
#         'device'        : 'uint16',
#         'os'            : 'uint16',
#         'channel'       : 'uint16',
#         }

# columns_test = ['ip', 'app', 'device', 'os', 'channel', 'click_time']


# test_df = pd.read_csv("test.csv", usecols=columns_test, dtype=dtypes_test)

# test_df.info()

In [43]:
# dtypes = {
#     'ip'            : 'uint32',
#     'app'           : 'uint16',
#     'device'        : 'uint16',
#     'os'            : 'uint16',
#     'channel'       : 'uint16',
#     'is_attributed' : 'uint8',
# }

# file_name = "test_small_20.csv"
# columns = ['ip', 'app', 'device', 'os', 'channel', 'click_time', 'is_attributed']

# # Assuming 'prev_click_time_diff_' columns are generated or known
# # For example, let's assume we have prev_click_time_diff_1, prev_click_time_diff_2

# # Read the first row of the CSV to get the existing columns
# sample_df = pd.read_csv(file_name, nrows=1)
# existing_columns = sample_df.columns.tolist()

# # Filter the columns and dtypes based on existing columns
# valid_columns = [col for col in columns if col in existing_columns]
# valid_prev_click_columns = [col for col in topic_columns if col in existing_columns]
# valid_prev_click_columns += [col for col in prev_click_columns if col in existing_columns]

# # Update the columns and dtypes
# valid_columns += valid_prev_click_columns

# # Include 'prev_click_time_diff_' columns as uint32
# #for col in valid_prev_click_columns:
# #    dtypes[col] = 'uint32'

# # Create valid_dtypes for columns that exist in the CSV
# #valid_dtypes = {col: dtype for col, dtype in dtypes.items() if col in valid_columns}

# # Read the CSV file with the updated dtypes and columns
# test_df = pd.read_csv(file_name, usecols=valid_columns, dtype=dtypes)

# #st = len(valid_prev_click_columns)

# # Display the DataFrame info
# test_df.info()

In [44]:
submission_df = pd.read_csv("sample_submission.csv")

In [45]:
# import pandas as pd

# chunk_size = 10**6  # 1백만 행씩 읽기 (적절한 크기로 조정)

# file_path = 'train.csv'
# train_df = pd.DataFrame()  # 빈 DataFrame 생성

# chunks = pd.read_csv(file_path, chunksize=chunk_size)

# for chunk in chunks:
#     # 각 청크를 train_df에 추가합니다.
#     train_df = pd.concat([train_df, chunk], ignore_index=True)

# # 모든 청크를 처리한 후에 train_df가 완성됩니다.
# print("완료된 DataFrame 크기:", train_df.shape)

## Setting

In [285]:
Objective = 'binary'        # regression, binary, multi
Eval_Metric = 'roc_auc'   # mae, rmse, rmsle, acc, f1, roc_auc, log_loss
N_Class = 2 ## !!!! 주의

Target = 'is_attributed'
cat_fts = []

EDA_Mode = 'OFF' # OFF, ON

LGBM_Mode = 'OFF'           # OFF, ON, TUNING
LGBM_learning_rate = 0.1   # LGBM default: 0.1
LGBM_n_estimators = 1000   # LGBM default: 100
LGBM_ESR = 100
LGBM_Tuning_Tries = 10
LGBM_model = LGBMRegressor if Objective=='regression' else LGBMClassifier

XGB_Mode = 'ON'
XGB_learning_rate = 0.1   # XGB default: 0.3
XGB_n_estimators = 5000   # XGB default: 100
XGB_ESR = 100
XGB_tree_method = 'exact'    # auto, exact, approx, hist
XGB_Tuning_Tries = 10
XGB_model = XGBRegressor if Objective=='regression' else XGBClassifier

CB_Mode = 'OFF'
CB_n_estimators = 1000   # CB default: 1000
CB_ESR = 100
CB_Tuning_Tries = 10
CB_model = CatBoostRegressor if Objective=='regression' else CatBoostClassifier

RF_Mode = 'OFF'
RF_Tuning_Tries = 10
RF_model = RandomForestRegressor if Objective=='regression' else RandomForestClassifier

RBWA_Mode = 'OFF'           # OFF, ON, TUNING

RNN_Mode = 'OFF' # OFF, ON, TUNING

Ensemble_Mode = 'OFF'
Stacking_Mode = 'OFF'

down_samp_Mode = 'OFF' # OFF, ON
LDA_Mode = 'OFF' # OFF, ON

add_click_train = 'OFF' # OFF, ON
add_click_test = 'OFF' # OFF, ON

clicks_hr_Mode = 'ON' # OFF, ON

## Data Overview

In [47]:
# train = train_df.copy()
# train

In [48]:
train = train_df.copy()
test = test_df.copy()
submission = submission_df.copy()

#train.shape, test.shape, submission.shape

In [49]:
# selected_columns = [col for col in train.columns if col.startswith('prev_click_time_diff') or col.startswith('next_click_time_diff')]
# selected_columns

In [50]:
# len(selected_columns)

In [51]:
# train = train.drop(selected_columns, axis = 1)
# train

In [52]:
# test = test.drop(selected_columns, axis = 1)
# test

In [53]:
train

,ip,app,device,os,channel,click_time,attributed_time,is_attributed
0,87540,12,1,13,497,2017-11-07 09:30:38,NaN,0
1,105560,25,1,17,259,2017-11-07 13:40:27,NaN,0
2,101424,12,1,19,212,2017-11-07 18:05:24,NaN,0
3,94584,13,1,13,477,2017-11-07 04:58:08,NaN,0
4,68413,12,1,1,178,2017-11-09 09:00:09,NaN,0
...,...,...,...,...,...,...,...,...
99995,124883,11,1,19,122,2017-11-09 13:25:41,NaN,0
99996,85150,9,1,13,244,2017-11-07 11:25:43,NaN,0
99997,18839,3,1,13,19,2017-11-08 11:38:42,NaN,0
99998,114276,15,1,12,245,2017-11-08 17:55:21,NaN,0
99999,119349,14,1,15,401,2017-11-07 14:32:27,NaN,0

In [54]:
# dtypes = {
#     'ip'            : 'uint32',
#     'app'           : 'uint16',
#     'device'        : 'uint16',
#     'os'            : 'uint16',
#     'channel'       : 'uint16',
#     'is_attributed' : 'uint8',
# }

# train_full = pd.read_csv("train_full_click.csv", dtype=dtypes)

# train_full.head()

In [55]:
# %%time
# dtypes = {
#     'ip'            : 'uint32',
#     'app'           : 'uint16',
#     'device'        : 'uint16',
#     'os'            : 'uint16',
#     'channel'       : 'uint16',
#     'is_attributed' : 'uint8',
# }

# test_full = pd.read_csv("full_test_final_only_click.csv", dtype=dtypes)

# test_full.head()

In [56]:
# t2 = set(train_full.columns)
# t2

In [57]:
# t1 = set(train.columns)
# t1

In [58]:
# common_columns = t1 & t2
# common_columns = list(common_columns)
# common_columns

In [59]:
# train_full.shape

In [60]:
train.head()

,ip,app,device,os,channel,click_time,attributed_time,is_attributed
0,87540,12,1,13,497,2017-11-07 09:30:38,NaN,0
1,105560,25,1,17,259,2017-11-07 13:40:27,NaN,0
2,101424,12,1,19,212,2017-11-07 18:05:24,NaN,0
3,94584,13,1,13,477,2017-11-07 04:58:08,NaN,0
4,68413,12,1,1,178,2017-11-09 09:00:09,NaN,0

In [61]:
len(test.columns)

7

In [62]:
# train.head()

In [63]:
# test.head()

In [64]:
# submission.head()

In [65]:
# train.info()

In [66]:
# test.isna().sum()

In [67]:
# train.describe().T

In [68]:
# train.describe(include='object').T

In [69]:
train.columns

Index(['ip', 'app', 'device', 'os', 'channel', 'click_time', 'attributed_time',
       'is_attributed'],
      dtype='object')

## click time

In [70]:
# train['click_time'] = pd.to_datetime(train['click_time'])

# # 년도, 시간, 초로 쪼개서 새로운 열에 저장

# train['click_time_hour'] = train['click_time'].dt.hour
# train['click_time_minute'] = train['click_time'].dt.minute
# #train['click_time_second'] = train['click_time'].dt.second

# train['click_time_hour'] = train['click_time_hour'].astype('uint8')
# train['click_time_minute'] = train['click_time_minute'].astype('uint8')
# #train['click_time_second'] = train['click_time_second'].astype('uint8')

# if EDA_Mode == 'ON' :
#     train.head()

In [71]:
test.columns

Index(['click_id', 'ip', 'app', 'device', 'os', 'channel', 'click_time'], dtype='object')

In [72]:
# test['click_time'] = pd.to_datetime(test['click_time'])

# # 년도, 시간, 초로 쪼개서 새로운 열에 저장

# test['click_time_hour'] = test['click_time'].dt.hour
# test['click_time_minute'] = test['click_time'].dt.minute
# #test['click_time_second'] = test['click_time'].dt.second

# test['click_time_hour'] = test['click_time_hour'].astype('uint8')
# test['click_time_minute'] = test['click_time_minute'].astype('uint8')
# #test['click_time_second'] = test['click_time_second'].astype('uint8')

# if EDA_Mode == 'ON' :
#     test.head()

# is_sorted = test['click_time'].is_monotonic_increasing
# is_sorted

## attributed_time

In [73]:
# if EDA_Mode == 'ON' :
#     df = pd.to_datetime(train['attributed_time'], errors='coerce')
    
#     # 최솟값과 최댓값 찾기
#     min_time = df.min()
#     max_time = df.max()
#     print(min_time, max_time)

In [74]:
# train['attributed_time'] = pd.to_datetime(train['attributed_time'])

# # 년도, 시간, 초로 쪼개서 새로운 열에 저장
# train['attributed_time_year'] = train['attributed_time'].dt.year
# train['attributed_time_month'] = train['attributed_time'].dt.month
# train['attributed_time_day'] = train['attributed_time'].dt.day

# train['attributed_time_hour'] = train['attributed_time'].dt.hour
# train['attributed_time_minute'] = train['attributed_time'].dt.minute
# train['attributed_time_second'] = train['attributed_time'].dt.second

# if EDA_Mode == 'ON' :
#     train.head()

In [75]:
# filtered_data = train[train['attributed_time'].notna()]

# # Calculate the difference in time (in seconds)
# train['time_diff'] = (filtered_data['attributed_time'] - filtered_data['click_time']).dt.total_seconds() / 3600

# if EDA_Mode == 'ON' :
#     # Plot the distribution using Plotly
#     fig = px.histogram(train, x='time_diff', nbins=50, title='Distribution of Attributed Time - Click Time')
#     fig.update_layout(xaxis_title='Time Difference (hours)', yaxis_title='Count')
#     fig.show()

## Corr. Matrix

In [76]:
def corr_matrix(df, ft, count):
    corr = df.corr()
    top_corr = abs(corr[ft]).sort_values(ascending=False).iloc[:count]

    sz = min(15, count)
    plt.figure(figsize=(sz, sz-3))
    sns.heatmap(train[top_corr.index].corr(), vmax=1, vmin=-1, center=0, annot=True, cmap='coolwarm')
    plt.title('Correlation Matrix')
    plt.show()

if EDA_Mode == 'ON' :
    corr_matrix(train, Target, 15)

In [77]:
def corr_top(count):
    corr = train.corr().replace(1.0, 0)
    top = abs(corr).unstack().sort_values(ascending=False).drop_duplicates()[:count]

    print(f"[Correlation Top {count}]")
    for index, value in top.items():
        value = corr.loc[index[0], index[1]]
        print(f"{index[0]:<15} {index[1]:<15} {value:>10.3f}")

if EDA_Mode == 'ON' :
    corr_top(10)

In [78]:
def corr_ft(df, ft, count):
    corr = df.corr()[ft].reset_index()
    corr.columns = ['feature', 'corr']
    corr['corr_abs'] = corr['corr'].abs()
    corr = corr.sort_values(by='corr_abs', ascending=False)
    corr = corr[corr['feature'] != ft].head(count)

    fig = px.bar(corr,
        x='corr_abs',
        y='feature',
        orientation='h',
        text=round(corr['corr'], 2),
        color='feature',
        title='Correlation: ' + ft
    )
    fig.update_traces(textposition='outside')
    fig.show()

if EDA_Mode == 'ON' :
    corr_ft(train, Target, 10)

# Features

## EDA

In [79]:
train.columns

Index(['ip', 'app', 'device', 'os', 'channel', 'click_time', 'attributed_time',
       'is_attributed'],
      dtype='object')

In [80]:
# train[['ip', 'app', 'device', 'os', 'channel']].drop_duplicates()

In [81]:
# # 고유한 조합의 수 계산
# #col = ['ip', 'app', 'device', 'os', 'channel']
# col = ['ip']
# train_unique_combinations = train[col].drop_duplicates()
# test_unique_combinations = test[col].drop_duplicates()

# train_unique_count = train_unique_combinations.shape[0]
# test_unique_count = test_unique_combinations.shape[0]

# print(f'Train 데이터에서 고유 조합의 수: {train_unique_count}')
# print(f'Test 데이터에서 고유 조합의 수: {test_unique_count}')

# # train과 test에서 중복으로 나오는 조합 찾기
# common_combinations = pd.merge(train_unique_combinations, test_unique_combinations, on=col)

# common_count = common_combinations.shape[0]

# print(f'Train과 Test 데이터에서 중복으로 나오는 조합의 수: {common_count}')

## 함수

In [82]:
def table_cnt_avg(df, ft, target):
    return df.groupby(ft)[target].agg(['count', 'mean']).sort_values(by='mean').reset_index()

In [83]:
def graph_cnt_avg(df, ft, target):
    fig1 = px.histogram(df, x=ft)

    grouped_df = df.groupby(ft)[target].mean().reset_index()
    fig2 = px.line(grouped_df, x=ft, y=target)

    fig = make_subplots(rows=1, cols=2, subplot_titles=('Count', 'Average'))
    for trace in fig1.data:
        fig.add_trace(trace, row=1, col=1)
    for trace in fig2.data:
        fig.add_trace(trace, row=1, col=2)

    fig.update_layout(title_text=ft)
    fig.show()

In [84]:
def add_mean_ft(gr, ft_name, target):
    grouped_df = train.groupby(gr)[target].mean().reset_index()
    grouped_df.columns = gr + [ft_name]
    trn = train.merge(grouped_df, on=gr, how='left')
    tst = test.merge(grouped_df, on=gr, how='left')
    return trn, tst

In [85]:
def add_median_ft(gr, ft_name, target):
    grouped_df = train.groupby(gr)[target].median().reset_index()
    grouped_df.columns = gr + [ft_name]
    trn = train.merge(grouped_df, on=gr, how='left')
    tst = test.merge(grouped_df, on=gr, how='left')
    return trn, tst

## (Sample) Target

In [86]:
df = train[Target].value_counts()

if EDA_Mode == 'ON' :
    fig = px.pie(df,
        names = df.index,
        values = df.values,
        title = Target,
    )
    
    fig.update_layout(
        width = 600,
        height = 400,
    )
    fig.show()

## 결측치

In [87]:
#table_cnt_avg(train, 'Embarked', Target)

## (Sample) 파생피쳐

In [88]:
# cols = train.columns.tolist()
# cols_remove = ['index', 'FLAG_MOBIL', 'begin_month', 'credit']

# for col in cols_remove:
#     if col in cols:
#         cols.remove(col)

# print(len(cols), cols)

In [89]:
# for df in [train, test]:
#     str_all = ''
#     for col in cols:
#         str_all += df[col].astype(str) + '_'
#     df['ID'] = str_all

## Click 파생피쳐 (개수 관련)

In [90]:
# train_df['index'] = train_df.index

# # Plotly를 사용하여 시각화
# fig = px.scatter(train_df, x='index', y='click_time', title='Click Time Over Rows', labels={'index': 'Row Index', 'click_time': 'Click Time'})

# # 그래프 표시
# fig.show()

In [91]:
is_sorted = train['click_time'].is_monotonic_increasing
is_sorted

False

In [92]:
is_sorted = test['click_time'].is_monotonic_increasing
is_sorted

True

In [93]:
train.columns

Index(['ip', 'app', 'device', 'os', 'channel', 'click_time', 'attributed_time',
       'is_attributed'],
      dtype='object')

In [94]:
train['click_time'].describe()

count                  100000
unique                  80350
top       2017-11-08 12:01:02
freq                        7
Name: click_time, dtype: object

In [95]:
# # 'click_time'을 기준으로 데이터프레임을 시간순으로 정렬
train = train.sort_values(by='click_time')

# train['clicks_1hr'] = train.groupby('ip')['click_time'].apply(lambda x: (abs(x - x.shift(1)) <= pd.Timedelta(hours=1)).sum())
# # 각 ip에 대해 1시간 내의 등장 횟수를 계산하는 rolling window 적용
# #train['ip_count_within_1h'] = train.groupby('ip')['click_time'].rolling('1h').count().reset_index(level=0, drop=True)
# #train['ip_count_within_1h'] = train.groupby('ip')['click_time'].rolling(window='3600s').count().reset_index(level=0, drop=True)
# #train['ip_count_within_1h'] = train.groupby('ip')['click_time'].rolling('1h', on='click_time').count().reset_index(0, drop=True)
# #train['ip_count_within_1h_future'] = train.groupby('ip')['click_time'].rolling('-1h', on='click_time').count().reset_index(0, drop=True)

# # 결과 출력
# #print(train)
# train

In [96]:
is_sorted = train['click_time'].is_monotonic_increasing
is_sorted

True

In [97]:
# click_time을 초 단위의 자연수로 변환하는 함수
def convert_to_seconds(row):
    return row['click_time_day'] * 24 * 60 * 60 + row['click_time_hour'] * 60 * 60 + row['click_time_minute'] * 60 + row['click_time_second']

# click_time을 초 단위 자연수로 변환하여 'click_time_seconds' 열에 저장
# train['click_time_seconds'] = train.apply(convert_to_seconds, axis=1)

# IP 주소(ip)를 기준으로 그룹화하고, 각 그룹에서 시간 간격이 3600초 이내인 행의 개수를 세는 함수
def count_within_1hr(group):
    return (group['click_time_seconds'].diff() <= 3600).sum()

# 각 IP 주소별로 그룹화하고, 시간 간격이 3600초(1시간) 이내인 행의 개수를 계산하여 'clicks_within_1hr' 열에 저장
#train['clicks_within_1hr'] = train.groupby('ip').apply(count_within_1hr)

#train['clicks_within_1hr'] = train.groupby('ip')['click_time_seconds'].transform(lambda x: (x.diff() <= 3600).cumsum())

train

,ip,app,device,os,channel,click_time,attributed_time,is_attributed
54955,48646,12,1,19,178,2017-11-06 16:00:00,NaN,0
28314,93836,12,1,30,328,2017-11-06 16:00:09,NaN,0
31830,5314,8,1,13,145,2017-11-06 16:00:09,NaN,0
99357,73954,23,1,19,153,2017-11-06 16:00:11,NaN,0
83228,91574,3,1,17,135,2017-11-06 16:00:11,NaN,0
...,...,...,...,...,...,...,...,...
75024,85592,12,1,13,145,2017-11-09 15:59:42,NaN,0
83818,91779,18,1,41,379,2017-11-09 15:59:43,NaN,0
17634,81374,14,1,25,118,2017-11-09 15:59:44,NaN,0
41817,11911,1,1,22,115,2017-11-09 15:59:46,NaN,0
23038,44018,13,1,19,477,2017-11-09 15:59:51,NaN,0

In [98]:
train['click_time'] = pd.to_datetime(train['click_time'])

In [99]:
%%time
# datetime 형식으로 변환
# train['click_time'] = pd.to_datetime(train['click_time'])

# # 새로운 열 생성
# train['real_clicks_1hr'] = 0

# # 반복문을 통해 각 행 처리
# for i, row in train.iterrows():
#     # 현재 행의 IP
#     curr_ip = row['ip']
    
#     # 현재 행의 click_time
#     curr_time = row['click_time']
    
#     # 현재 행과 1시간 이내의 같은 IP 클릭 횟수 계산
#     same_ip_clicks = train.loc[(train['ip'] == curr_ip) & (abs(train['click_time'] - curr_time) <= pd.Timedelta(hours=1)), 'click_time'].count()
    
#     # 결과 저장
#     train.at[i, 'real_clicks_1hr'] = same_ip_clicks

if clicks_hr_Mode == 'ON' :
    train['real_clicks_1hr'] = train.groupby(['ip', pd.Grouper(key='click_time', freq='1H')])['click_time'].transform('count')

    train['real_clicks_6hr'] = train.groupby(['ip', pd.Grouper(key='click_time', freq='6H')])['click_time'].transform('count')

#train['real_clicks_3hr'] = train.groupby(['ip', pd.Grouper(key='click_time', freq='3H')])['click_time'].transform('count')
train

CPU times: total: 31.2 ms
Wall time: 88.3 ms

,ip,app,device,os,channel,click_time,attributed_time,is_attributed,real_clicks_1hr,real_clicks_6hr
54955,48646,12,1,19,178,2017-11-06 16:00:00,NaN,0,2,2
28314,93836,12,1,30,328,2017-11-06 16:00:09,NaN,0,2,2
31830,5314,8,1,13,145,2017-11-06 16:00:09,NaN,0,3,3
99357,73954,23,1,19,153,2017-11-06 16:00:11,NaN,0,2,3
83228,91574,3,1,17,135,2017-11-06 16:00:11,NaN,0,1,1
...,...,...,...,...,...,...,...,...,...,...
75024,85592,12,1,13,145,2017-11-09 15:59:42,NaN,0,1,2
83818,91779,18,1,41,379,2017-11-09 15:59:43,NaN,0,1,1
17634,81374,14,1,25,118,2017-11-09 15:59:44,NaN,0,1,1
41817,11911,1,1,22,115,2017-11-09 15:59:46,NaN,0,1,1
23038,44018,13,1,19,477,2017-11-09 15:59:51,NaN,0,1,1

In [100]:
if clicks_hr_Mode == 'ON' :
    train['real_clicks_1hr'].describe()

In [101]:
if clicks_hr_Mode == 'ON' :
    train['real_clicks_6hr'].describe()

In [102]:
# %%time
# # datetime 형식으로 변환
# test['click_time'] = pd.to_datetime(test['click_time'])

# # 새로운 열 생성
# test['real_clicks_1hr'] = 0

# # 반복문을 통해 각 행 처리
# for i, row in test.iterrows():
#     # 현재 행의 IP
#     curr_ip = row['ip']
    
#     # 현재 행의 click_time
#     curr_time = row['click_time']
    
#     # 현재 행과 1시간 이내의 같은 IP 클릭 횟수 계산
#     same_ip_clicks = test.loc[(test['ip'] == curr_ip) & (abs(test['click_time'] - curr_time) <= pd.Timedelta(hours=1)), 'click_time'].count()
    
#     # 결과 저장
#     test.at[i, 'real_clicks_1hr'] = same_ip_clicks

# test

In [103]:
if clicks_hr_Mode == 'ON' :
    # datetime 형식으로 변환
    test['click_time'] = pd.to_datetime(test['click_time'])

    # 1시간 이내의 같은 IP 클릭 횟수 계산
    test['real_clicks_1hr'] = test.groupby(['ip', pd.Grouper(key='click_time', freq='1H')])['click_time'].transform('count')
    test['real_clicks_6hr'] = test.groupby(['ip', pd.Grouper(key='click_time', freq='6H')])['click_time'].transform('count')
    #test['real_clicks_3hr'] = test.groupby(['ip', pd.Grouper(key='click_time', freq='3H')])['click_time'].transform('count')
    test

In [104]:
# !!!!!왜 안 맞는걸까
# # datetime 형식으로 변환
# train['click_time'] = pd.to_datetime(train['click_time'])

# # 1시간 이내의 같은 IP 클릭 횟수 계산
# train['real_clicks_1hr2'] = train.groupby(['ip', pd.Grouper(key='click_time', freq='1H')])['click_time'].transform('count')
# train

In [105]:
if clicks_hr_Mode == 'ON' :
    test['real_clicks_1hr'].describe()

In [106]:
if clicks_hr_Mode == 'ON' :
    test['real_clicks_6hr'].describe()

In [107]:
train.columns

Index(['ip', 'app', 'device', 'os', 'channel', 'click_time', 'attributed_time',
       'is_attributed', 'real_clicks_1hr', 'real_clicks_6hr'],
      dtype='object')

In [108]:
test.shape

(18790469, 9)

In [109]:
# train = train.drop('attributed_time', axis = 1)

## type-re

In [110]:
# uint8_cols = ['is_attributed', 'click_time_hour', 'click_time_minute', 'real_clicks_1hr', 'real_clicks_6hr']
# train[uint8_cols] = train[uint8_cols].astype(np.uint8)

# # 나머지 모든 열을 float32로 변환
# exclude_cols = uint8_cols + ['click_time']
# float32_cols = train.columns.difference(exclude_cols)
# train[float32_cols] = train[float32_cols].astype(np.float32)

In [111]:
# uint8_cols = ['click_time_hour', 'click_time_minute', 'real_clicks_1hr', 'real_clicks_6hr']
# test[uint8_cols] = test[uint8_cols].astype(np.uint8)

# # 나머지 모든 열을 float32로 변환
# exclude_cols = uint8_cols + ['click_time']
# float32_cols = test.columns.difference(exclude_cols)
# test[float32_cols] = test[float32_cols].astype(np.float32)

In [112]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100000 entries, 54955 to 23038
Data columns (total 10 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   ip               100000 non-null  uint32
 1   app              100000 non-null  uint16
 2   device           100000 non-null  uint16
 3   os               100000 non-null  uint16
 4   channel          100000 non-null  uint16
 5   click_time       100000 non-null  datetime64[ns]
 6   attributed_time  227 non-null     object
 7   is_attributed    100000 non-null  uint8
 8   real_clicks_1hr  100000 non-null  int64
 9   real_clicks_6hr  100000 non-null  int64
dtypes: datetime64[ns](1), int64(2), object(1), uint16(4), uint32(1), uint8(1)
memory usage: 5.1+ MB

In [113]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18790469 entries, 0 to 18790468
Data columns (total 9 columns):
 #   Column           Dtype
---  ------           -----
 0   click_id         int64
 1   ip               uint32
 2   app              uint16
 3   device           uint16
 4   os               uint16
 5   channel          uint16
 6   click_time       datetime64[ns]
 7   real_clicks_1hr  int64
 8   real_clicks_6hr  int64
dtypes: datetime64[ns](1), int64(3), uint16(4), uint32(1)
memory usage: 788.5 MB

## Click 파생피쳐 (시간 관련)

In [114]:
# train['prev_click_time'] = train.groupby('ip')['click_time'].shift(1)
# train['next_click_time'] = train.groupby('ip')['click_time'].shift(-1)

# # 시간 차이 계산
# train['prev_click_time_diff'] = (train['click_time'] - train['prev_click_time']).dt.total_seconds()
# train['next_click_time_diff'] = (train['next_click_time'] - train['click_time']).dt.total_seconds()

# # 불필요한 열 삭제
# train.drop(columns=['prev_click_time', 'next_click_time'], inplace=True)
# train

In [115]:
# for i in range(1, 6):
#     train[f'prev_click_time_{i}'] = train.groupby('ip')['click_time'].shift(i)

# # Time differences for previous clicks (1 to 5)
# for i in range(1, 6):
#     train[f'prev_click_time_diff_{i}'] = (train['click_time'] - train[f'prev_click_time_{i}']).dt.total_seconds()

# # Mean of time differences, ignoring NaNs
# train['prev_click_time_diff'] = train[[f'prev_click_time_diff_{i}' for i in range(1, 6)]].mean(axis=1)
# train.drop(columns=[f'prev_click_time_{i}' for i in range(1, 6)] + [f'prev_click_time_diff_{i}' for i in range(1, 6)], inplace=True)
# train

In [116]:
# for i in range(1, 6):
#     test[f'prev_click_time_{i}'] = test.groupby('ip')['click_time'].shift(i)

# # Time differences for previous clicks (1 to 5)
# for i in range(1, 6):
#     test[f'prev_click_time_diff_{i}'] = (test['click_time'] - test[f'prev_click_time_{i}']).dt.total_seconds()

# # Mean of time differences, ignoring NaNs
# test['prev_click_time_diff'] = test[[f'prev_click_time_diff_{i}' for i in range(1, 6)]].mean(axis=1)
# test.drop(columns=[f'prev_click_time_{i}' for i in range(1, 6)] + [f'prev_click_time_diff_{i}' for i in range(1, 6)], inplace=True)
# test

In [117]:
# for i in range(1, 6):
#     train[f'next_click_time_{i}'] = train.groupby('ip')['click_time'].shift(-i)

# # Time differences for previous clicks (1 to 5)
# for i in range(1, 6):
#     train[f'next_click_time_diff_{i}'] = (train[f'next_click_time_{i}'] - train['click_time']).dt.total_seconds()

# # Mean of time differences, ignoring NaNs
# train['next_click_time_diff'] = train[[f'next_click_time_diff_{i}' for i in range(1, 6)]].mean(axis=1)
# train.drop(columns=[f'next_click_time_{i}' for i in range(1, 6)] + [f'next_click_time_diff_{i}' for i in range(1, 6)], inplace=True)
# train

In [118]:
for combo in all_combinations:
    combo_list = list(combo)
    print(f'prev_click_time_diff_{"+".join(combo_list)}')

prev_click_time_diff_ip
prev_click_time_diff_app
prev_click_time_diff_os
prev_click_time_diff_channel
prev_click_time_diff_device
prev_click_time_diff_ip+app
prev_click_time_diff_ip+os
prev_click_time_diff_ip+channel
prev_click_time_diff_ip+device
prev_click_time_diff_app+os
prev_click_time_diff_app+channel
prev_click_time_diff_app+device
prev_click_time_diff_os+channel
prev_click_time_diff_os+device
prev_click_time_diff_channel+device
prev_click_time_diff_ip+app+os
prev_click_time_diff_ip+app+channel
prev_click_time_diff_ip+app+device
prev_click_time_diff_ip+os+channel
prev_click_time_diff_ip+os+device
prev_click_time_diff_ip+channel+device
prev_click_time_diff_app+os+channel
prev_click_time_diff_app+os+device
prev_click_time_diff_app+channel+device
prev_click_time_diff_os+channel+device
prev_click_time_diff_ip+app+os+channel
prev_click_time_diff_ip+app+os+device
prev_click_time_diff_ip+app+channel+device
prev_click_time_diff_ip+os+channel+device
prev_click_time_diff_app+os+channel+device
prev_click_time_diff_ip+app+os+channel+device

In [119]:
%%time

if add_click_train == 'ON' :
    ti = 0
    for combo in all_combinations:
        ti += 1
        combo_list = list(combo)  # 튜플을 리스트로 변환

        if ti <= st :
            continue

        for i in range(1, 6):
            train[f'prev_click_time_{"_".join(combo_list)}_{i}'] = train.groupby(combo_list)['click_time'].shift(i)

        # 이전 클릭 시간 차이를 계산
        for i in range(1, 6):
            train[f'prev_click_time_{"_".join(combo_list)}_{i}'] = (train['click_time'] - train[f'prev_click_time_{"_".join(combo_list)}_{i}']).dt.total_seconds()

        # 시간 차이의 평균 계산 (NaN 제외)
        train[f'prev_click_time_diff_{"_".join(combo_list)}'] = train[[f'prev_click_time_{"_".join(combo_list)}_{i}' for i in range(1, 6)]].mean(axis=1)
        train.drop(columns=[f'prev_click_time_{"_".join(combo_list)}_{i}' for i in range(1, 6)], inplace=True)
        print(combo)
        if ti % 4 == 0 :
            train.to_csv(f'train_new{ti // 4}', index=False)

    train.to_csv('train_new_8', index=False)
    train

CPU times: total: 0 ns
Wall time: 0 ns

In [120]:
len(all_combinations)

31

In [121]:
%%time

if add_click_train == 'ON' :
    for combo in all_combinations:
        combo_list = list(combo)  # 튜플을 리스트로 변환

        for i in range(1, 6):
            train[f'next_click_time_{"_".join(combo_list)}_{i}'] = train.groupby(combo_list)['click_time'].shift(-i)

        # 다음 클릭 시간 차이를 계산
        for i in range(1, 6):
            train[f'next_click_time_{"_".join(combo_list)}_{i}'] = (train[f'next_click_time_{"_".join(combo_list)}_{i}'] - train['click_time']).dt.total_seconds()

        # 시간 차이의 평균 계산 (NaN 제외)
        train[f'next_click_time_diff_{"_".join(combo_list)}'] = train[[f'next_click_time_{"_".join(combo_list)}_{i}' for i in range(1, 6)]].mean(axis=1)
        train.drop(columns=[f'next_click_time_{"_".join(combo_list)}_{i}' for i in range(1, 6)], inplace=True)
        print(combo)

    train

CPU times: total: 0 ns
Wall time: 0 ns

In [122]:
train

,ip,app,device,os,channel,click_time,attributed_time,is_attributed,real_clicks_1hr,real_clicks_6hr
54955,48646,12,1,19,178,2017-11-06 16:00:00,NaN,0,2,2
28314,93836,12,1,30,328,2017-11-06 16:00:09,NaN,0,2,2
31830,5314,8,1,13,145,2017-11-06 16:00:09,NaN,0,3,3
99357,73954,23,1,19,153,2017-11-06 16:00:11,NaN,0,2,3
83228,91574,3,1,17,135,2017-11-06 16:00:11,NaN,0,1,1
...,...,...,...,...,...,...,...,...,...,...
75024,85592,12,1,13,145,2017-11-09 15:59:42,NaN,0,1,2
83818,91779,18,1,41,379,2017-11-09 15:59:43,NaN,0,1,1
17634,81374,14,1,25,118,2017-11-09 15:59:44,NaN,0,1,1
41817,11911,1,1,22,115,2017-11-09 15:59:46,NaN,0,1,1
23038,44018,13,1,19,477,2017-11-09 15:59:51,NaN,0,1,1

In [123]:
# test['prev_click_time'] = test.groupby('ip')['click_time'].shift(1)
# test['next_click_time'] = test.groupby('ip')['click_time'].shift(-1)

# # 시간 차이 계산
# test['prev_click_time_diff'] = (test['click_time'] - test['prev_click_time']).dt.total_seconds()
# test['next_click_time_diff'] = (test['next_click_time'] - test['click_time']).dt.total_seconds()

# # 불필요한 열 삭제
# test.drop(columns=['prev_click_time', 'next_click_time'], inplace=True)
# test

In [124]:
%%time
if add_click_test == 'ON' :
    for combo in all_combinations:
        combo_list = list(combo)  # 튜플을 리스트로 변환

        for i in range(1, 6):
            test[f'prev_click_time_{"_".join(combo_list)}_{i}'] = test.groupby(combo_list)['click_time'].shift(i)

        # 이전 클릭 시간 차이를 계산
        for i in range(1, 6):
            test[f'prev_click_time_{"_".join(combo_list)}_{i}'] = (test['click_time'] - test[f'prev_click_time_{"_".join(combo_list)}_{i}']).dt.total_seconds()

        # 시간 차이의 평균 계산 (NaN 제외)
        test[f'prev_click_time_diff_{"_".join(combo_list)}'] = test[[f'prev_click_time_{"_".join(combo_list)}_{i}' for i in range(1, 6)]].mean(axis=1)
        test.drop(columns=[f'prev_click_time_{"_".join(combo_list)}_{i}' for i in range(1, 6)], inplace=True)
        print(combo)

    test

CPU times: total: 0 ns
Wall time: 0 ns

In [125]:
%%time

if add_click_test == 'ON' :
    for combo in all_combinations:
        combo_list = list(combo)  # 튜플을 리스트로 변환

        for i in range(1, 6):
            test[f'next_click_time_{"_".join(combo_list)}_{i}'] = test.groupby(combo_list)['click_time'].shift(-i)

        # 다음 클릭 시간 차이를 계산
        for i in range(1, 6):
            test[f'next_click_time_{"_".join(combo_list)}_{i}'] = (test[f'next_click_time_{"_".join(combo_list)}_{i}'] - test['click_time']).dt.total_seconds()

        # 시간 차이의 평균 계산 (NaN 제외)
        test[f'next_click_time_diff_{"_".join(combo_list)}'] = test[[f'next_click_time_{"_".join(combo_list)}_{i}' for i in range(1, 6)]].mean(axis=1)
        test.drop(columns=[f'next_click_time_{"_".join(combo_list)}_{i}' for i in range(1, 6)], inplace=True)
        print(combo)

    test

CPU times: total: 0 ns
Wall time: 0 ns

In [126]:
# %%time
# import itertools

# # Print all combinations
# for combo in all_combinations:
# #    print(combo)
    
#     for i in range(1, 6):
#         test[f'next_click_time_{combo}_{i}'] = test.groupby(combo)['click_time'].shift(-i)

#     # Time differences for previous clicks (1 to 5)
#     for i in range(1, 6):
#         test[f'next_click_time_{combo}_{i}'] = (test[f'next_click_time_{combo}_{i}'] - test['click_time']).dt.total_seconds()

#     # Mean of time differences, ignoring NaNs
#     test[f'next_click_time_diff_{combo}'] = test[[f'next_click_time_{combo}_{i}' for i in range(1, 6)]].mean(axis=1)
#     test.drop(columns=[f'next_click_time_{combo}_{i}' for i in range(1, 6)], inplace=True)
#     print(combo)

# test

## 평균값 파생피쳐

In [127]:
# col = ['ip', 'app', 'device', 'os', 'channel']
# ip_avg_attributed_train = train.groupby(['ip', 'app', 'device', 'os', 'channel'])['is_attributed'].mean().reset_index()
# ip_avg_attributed_train.columns = col + ['ip_avg_attributed']

# test = test.merge(ip_avg_attributed_train, on=col, how='left')

# # train 데이터 프레임에도 같은 방식으로 ip별 평균 attributed 값을 병합
# train = train.merge(ip_avg_attributed_train, on=col, how='left')

In [128]:
# ip_avg_attributed_train

In [129]:
# col = ['ip', 'app', 'device', 'os', 'channel']
# ip_avg_attributed_train = train.groupby(['ip', 'app', 'device', 'os', 'channel'])['is_attributed'].mean().reset_index()

In [130]:
# ip_avg_attributed_train['ip_avg_attributed'].describe()

In [131]:
print('attributed_time' in train.columns )

True

In [132]:
if 'attributed_time' in train.columns :
    train = train.drop('attributed_time', axis = 1)
train

,ip,app,device,os,channel,click_time,is_attributed,real_clicks_1hr,real_clicks_6hr
54955,48646,12,1,19,178,2017-11-06 16:00:00,0,2,2
28314,93836,12,1,30,328,2017-11-06 16:00:09,0,2,2
31830,5314,8,1,13,145,2017-11-06 16:00:09,0,3,3
99357,73954,23,1,19,153,2017-11-06 16:00:11,0,2,3
83228,91574,3,1,17,135,2017-11-06 16:00:11,0,1,1
...,...,...,...,...,...,...,...,...,...
75024,85592,12,1,13,145,2017-11-09 15:59:42,0,1,2
83818,91779,18,1,41,379,2017-11-09 15:59:43,0,1,1
17634,81374,14,1,25,118,2017-11-09 15:59:44,0,1,1
41817,11911,1,1,22,115,2017-11-09 15:59:46,0,1,1
23038,44018,13,1,19,477,2017-11-09 15:59:51,0,1,1

In [133]:
print('attributed_time' in train.columns )

False

In [134]:
test

,click_id,ip,app,device,os,channel,click_time,real_clicks_1hr,real_clicks_6hr
0,0,5744,9,1,3,107,2017-11-10 04:00:00,34,50
1,1,119901,9,1,3,466,2017-11-10 04:00:00,403,747
2,2,72287,21,1,19,128,2017-11-10 04:00:00,229,500
3,3,78477,15,1,13,111,2017-11-10 04:00:00,239,476
4,4,123080,12,1,13,328,2017-11-10 04:00:00,60,68
...,...,...,...,...,...,...,...,...,...
18790464,18790464,99442,9,1,13,127,2017-11-10 15:00:00,2,8
18790465,18790465,88046,23,1,37,153,2017-11-10 15:00:00,1,396
18790466,18790467,81398,18,1,17,265,2017-11-10 15:00:00,2,374
18790467,18790466,123236,27,1,13,122,2017-11-10 15:00:00,1,79
18790468,18790468,73516,12,2,27,265,2017-11-10 15:00:00,4,34296

## category features

In [135]:
obj_list = train.select_dtypes(include='object').columns.tolist()
cat_fts += obj_list

for df in [train, test]:
    for ft in obj_list:
        df[ft] = df[ft].astype('category')

if EDA_Mode == 'ON' :
    print("Train cat_fts: ", train.select_dtypes(include='category').columns.tolist())
    print("Test  cat_fts: ", test.select_dtypes(include='category').columns.tolist())

In [136]:
obj_list

[]

In [137]:
# def target_mean_encoding(ft):
#     sorted_df = train.groupby(ft)[Target].mean().sort_values().reset_index()
#     sorted_df['code'] = range(len(sorted_df))
#     encoding_dict = sorted_df.set_index(ft)['code'].to_dict()
#     return encoding_dict

# cat_list = train.select_dtypes(include='category').columns.tolist()
# cat_list.remove('ID')

# for ft in cat_list:
#     encoding_dict = target_mean_encoding(ft)
#     print(encoding_dict)
#     train[ft+'_code'] = train[ft].map(encoding_dict).astype(int)
#     test[ft+'_code'] = test[ft].map(encoding_dict).astype(int)

# 학습

## down_sampling

In [138]:
train

,ip,app,device,os,channel,click_time,is_attributed,real_clicks_1hr,real_clicks_6hr
54955,48646,12,1,19,178,2017-11-06 16:00:00,0,2,2
28314,93836,12,1,30,328,2017-11-06 16:00:09,0,2,2
31830,5314,8,1,13,145,2017-11-06 16:00:09,0,3,3
99357,73954,23,1,19,153,2017-11-06 16:00:11,0,2,3
83228,91574,3,1,17,135,2017-11-06 16:00:11,0,1,1
...,...,...,...,...,...,...,...,...,...
75024,85592,12,1,13,145,2017-11-09 15:59:42,0,1,2
83818,91779,18,1,41,379,2017-11-09 15:59:43,0,1,1
17634,81374,14,1,25,118,2017-11-09 15:59:44,0,1,1
41817,11911,1,1,22,115,2017-11-09 15:59:46,0,1,1
23038,44018,13,1,19,477,2017-11-09 15:59:51,0,1,1

In [139]:
train = train.sort_values(by='click_time')

In [140]:
is_sorted = train['click_time'].is_monotonic_increasing
is_sorted

True

In [141]:
train

,ip,app,device,os,channel,click_time,is_attributed,real_clicks_1hr,real_clicks_6hr
54955,48646,12,1,19,178,2017-11-06 16:00:00,0,2,2
28314,93836,12,1,30,328,2017-11-06 16:00:09,0,2,2
31830,5314,8,1,13,145,2017-11-06 16:00:09,0,3,3
99357,73954,23,1,19,153,2017-11-06 16:00:11,0,2,3
83228,91574,3,1,17,135,2017-11-06 16:00:11,0,1,1
...,...,...,...,...,...,...,...,...,...
75024,85592,12,1,13,145,2017-11-09 15:59:42,0,1,2
83818,91779,18,1,41,379,2017-11-09 15:59:43,0,1,1
17634,81374,14,1,25,118,2017-11-09 15:59:44,0,1,1
41817,11911,1,1,22,115,2017-11-09 15:59:46,0,1,1
23038,44018,13,1,19,477,2017-11-09 15:59:51,0,1,1

In [142]:
from sklearn.utils import resample
# 다수 클래스와 소수 클래스 분리
if down_samp_Mode == 'ON' :
    minority_class = train[train['is_attributed'] == 1]
    majority_class = train[train['is_attributed'] == 0].head(len(minority_class) * 10)
    
    # 다수 클래스 다운샘플링
    majority_downsampled = resample(majority_class,
                                    replace=False,  # 복원 추출하지 않음
                                    n_samples=len(minority_class),  # 소수 클래스와 같은 수로 샘플링
                                    random_state=42)  # 재현성을 위한 랜덤 스테이트 설정
    
    # 다운샘플링한 데이터프레임 생성
    df_downsampled = pd.concat([majority_downsampled, minority_class])
    train = df_downsampled
    del df_downsampled
    
    
    print("minor: ", len(minority_class))
    print("major: ", len(majority_class))

In [143]:
# from pandas import cut

# train_size = int(len(train) * 0.8)
# train, test = train.iloc[:train_size], train.iloc[train_size:]

In [144]:
# train_size

In [145]:
# train 데이터셋에서 is_attributed 열 값에 따른 비율 계산
attributed_counts = train['is_attributed'].value_counts()
total_samples = attributed_counts.sum()

# 비율 계산
ratio_0 = attributed_counts[0] / total_samples
ratio_1 = attributed_counts[1] / total_samples

print(f"Class 0 ratio: {ratio_0:.2%}")
print(f"Class 1 ratio: {ratio_1:.2%}")

Class 0 ratio: 99.77%
Class 1 ratio: 0.23%

In [146]:
train.columns

Index(['ip', 'app', 'device', 'os', 'channel', 'click_time', 'is_attributed',
       'real_clicks_1hr', 'real_clicks_6hr'],
      dtype='object')

## LDA

In [147]:
# from sklearn.feature_extraction.text import CountVectorizer
# from sklearn.decomposition import LatentDirichletAllocation

# if LDA_Mode == 'ON':

    
    
#     data_samples = train[['ip', 'app']].to_dict('records')
    
#     # IP 주소별로 실행된 애플리케이션을 사전 형태로 저장
#     apps_of_ip = {}
#     for sample in data_samples:
#         apps_of_ip.setdefault(sample['ip'], []).append(str(sample['app']))
    
#     # 각 IP 주소별로 실행된 애플리케이션을 문장 형태로 변환
#     ips = list(apps_of_ip.keys())
#     apps_as_sentence = [' '.join(apps_of_ip[ip]) for ip in ips]
    
#     # CountVectorizer를 사용하여 문서-단어 행렬로 변환
#     vectorizer = CountVectorizer()
#     apps_as_matrix = vectorizer.fit_transform(apps_as_sentence)
    
#     # LDA 모델을 사용하여 토픽 모델링 수행
#     lda = LatentDirichletAllocation(n_components=5, random_state=42)
#     topics_of_ips = lda.fit_transform(apps_as_matrix)
    
#     topics_of_ips

In [148]:
# topics_of_ips

In [149]:
# %%time

# if LDA_Mode == 'ON':
#     topics_df = pd.DataFrame(topics_of_ips, columns=[f'topic_{i+1}' for i in range(5)])
    
#     # IP 주소 열 추가
#     topics_df['ip'] = ips

# topics_df

In [150]:
# train = train.merge(topics_df, on='ip', how='left')
# test = test.merge(topics_df, on='ip', how='left')

In [151]:
# train

In [152]:
len(train.columns)

9

In [153]:
# %%time

# from sklearn.feature_extraction.text import CountVectorizer
# from sklearn.decomposition import LatentDirichletAllocation
# from itertools import permutations

# if LDA_Mode == 'ON':
#     col = ['ip', 'os', 'app', 'channel', 'device']
#     #col = ['ip', 'os']
#     ti = 0
#     # 모든 2개 조합에 대해 반복
#     for i, (var1, var2) in enumerate(permutations(col, 2), start=1):
#         ti += 1
#         # data_samples 생성
#         data_samples = train[[var1, var2]].to_dict('records')
        
#         # IP 주소별로 실행된 애플리케이션을 사전 형태로 저장
#         apps_of_ip = {}
#         for sample in data_samples:
#             apps_of_ip.setdefault(sample[var1], []).append(str(sample[var2]))

#         # 각 IP 주소별로 실행된 애플리케이션을 문장 형태로 변환
#         ips = list(apps_of_ip.keys())
#         apps_as_sentence = [' '.join(apps_of_ip[ip]) for ip in ips]

#         # CountVectorizer를 사용하여 문서-단어 행렬로 변환
#         vectorizer = CountVectorizer()
#         apps_as_matrix = vectorizer.fit_transform(apps_as_sentence)

#         # LDA 모델을 사용하여 토픽 모델링 수행
#         lda = LatentDirichletAllocation(n_components=5, random_state=42)
#         topics_of_ips = lda.fit_transform(apps_as_matrix)

#         # 토픽 데이터프레임 생성
#         topics_df = pd.DataFrame(topics_of_ips, columns=[f'topic_{var1}+{var2}+_{j+1}' for j in range(5)])

#         # IP 주소 열 추가
#         topics_df[var1] = ips

#         # 원래 데이터프레임과 병합
#         train = train.merge(topics_df, on=var1, how='left')
#         test = test.merge(topics_df, on=var1, how='left')
#         print(f"!!! {ti} end")
        
#     train.to_csv(f'train_new{ti}.csv', index=False)
        

# train

In [154]:
# %%time

# from sklearn.feature_extraction.text import CountVectorizer
# from sklearn.decomposition import LatentDirichletAllocation
# from itertools import permutations

# if LDA_Mode == 'ON':
#     col = ['ip', 'os', 'app', 'channel', 'device']
#     #col = ['ip', 'os']
#     ti = 0
#     # 모든 2개 조합에 대해 반복
#     for i, (var1, var2) in enumerate(permutations(col, 2), start=1):
#         ti += 1
#         print(f'{var1}, {var2}')
#         # data_samples 생성
#         data_samples = train[[var1, var2]].to_dict('records')

#         # IP 주소별로 실행된 애플리케이션을 사전 형태로 저장
#         apps_of_ip = {}
#         for sample in data_samples:
#             apps_of_ip.setdefault(sample[var1], []).append(str(sample[var2]))

#         # 각 IP 주소별로 실행된 애플리케이션을 문장 형태로 변환
#         ips = list(apps_of_ip.keys())
#         apps_as_sentence = [' '.join(apps_of_ip[ip]) for ip in ips]

#         # CountVectorizer를 사용하여 문서-단어 행렬로 변환
#         vectorizer = CountVectorizer()
#         apps_as_matrix = vectorizer.fit_transform(apps_as_sentence)

#         # LDA 모델을 사용하여 토픽 모델링 수행
#         lda = LatentDirichletAllocation(n_components=5, random_state=42)
#         topics_of_ips = lda.fit_transform(apps_as_matrix)

#         # 토픽 데이터프레임 생성
#         topics_df = pd.DataFrame(topics_of_ips, columns=[f'topic_{var1}+{var2}+_{j+1}' for j in range(5)])

#         # IP 주소 열 추가
#         topics_df[var1] = ips

#         # 원래 데이터프레임과 병합
#         train = train.merge(topics_df, on=var1, how='left')
        
        
        
#         data_samples = test[[var1, var2]].to_dict('records')

#         # IP 주소별로 실행된 애플리케이션을 사전 형태로 저장
#         apps_of_ip = {}
#         for sample in data_samples:
#             apps_of_ip.setdefault(sample[var1], []).append(str(sample[var2]))
        
#          # 테스트 데이터에 대한 data_samples 생성
#         data_samples = test[[var1, var2]].to_dict('records')

#         # IP 주소별로 실행된 애플리케이션을 사전 형태로 저장
#         apps_of_ip_test = {}
#         for sample in data_samples:
#             apps_of_ip_test.setdefault(sample[var1], []).append(str(sample[var2]))

#         # 각 IP 주소별로 실행된 애플리케이션을 문장 형태로 변환
#         test_ips = list(apps_of_ip_test.keys())
#         test_apps_as_sentence = [' '.join(apps_of_ip_test[ip]) for ip in test_ips]

#         # CountVectorizer를 사용하여 테스트 데이터의 문서-단어 행렬로 변환
        
#         vectorizer = CountVectorizer()
#         test_apps_as_matrix = vectorizer.fit_transform(test_apps_as_sentence)

#         # 테스트 데이터에 대해 LDA 토픽 분포 얻기
#         lda2 = LatentDirichletAllocation(n_components=5, random_state=42)
#         topics_of_test_ips = lda2.transform(test_apps_as_matrix)

#         # 토픽 데이터프레임 생성
#         topics_test_df = pd.DataFrame(topics_of_test_ips, columns=[f'topic_{var1}+{var2}+_{j+1}' for j in range(5)])

#         # IP 주소 열 추가
#         topics_test_df[var1] = test_ips

#         # 테스트 데이터프레임과 병합
#         test = test.merge(topics_test_df, on=var1, how='left')
        
#         print("!!!", ti)
# #test.to_csv('test_new13.csv', index=False)
# test

In [155]:
train.columns

Index(['ip', 'app', 'device', 'os', 'channel', 'click_time', 'is_attributed',
       'real_clicks_1hr', 'real_clicks_6hr'],
      dtype='object')

In [156]:
# t = ['ip', 'app', 'device', 'os', 'channel', 'click_time', 'is_attributed','click_time_hour', 'click_time_minute', 'real_clicks_1hr', 'real_clicks_6hr']
# len(t)

In [157]:
# train = train[t]
# train

In [158]:
# t = ['ip', 'app', 'device', 'os', 'channel', 'click_time', 'click_time_hour', 'click_time_minute', 'real_clicks_1hr', 'real_clicks_6hr']

# len(t)

In [159]:
# test1 = test[t]
# test1

In [160]:
# test = test1.copy()
# test

In [161]:
# del test1

In [162]:
test

,click_id,ip,app,device,os,channel,click_time,real_clicks_1hr,real_clicks_6hr
0,0,5744,9,1,3,107,2017-11-10 04:00:00,34,50
1,1,119901,9,1,3,466,2017-11-10 04:00:00,403,747
2,2,72287,21,1,19,128,2017-11-10 04:00:00,229,500
3,3,78477,15,1,13,111,2017-11-10 04:00:00,239,476
4,4,123080,12,1,13,328,2017-11-10 04:00:00,60,68
...,...,...,...,...,...,...,...,...,...
18790464,18790464,99442,9,1,13,127,2017-11-10 15:00:00,2,8
18790465,18790465,88046,23,1,37,153,2017-11-10 15:00:00,1,396
18790466,18790467,81398,18,1,17,265,2017-11-10 15:00:00,2,374
18790467,18790466,123236,27,1,13,122,2017-11-10 15:00:00,1,79
18790468,18790468,73516,12,2,27,265,2017-11-10 15:00:00,4,34296

In [163]:
gc.collect()

0

In [164]:
combined_data = pd.concat([train, test])
combined_data

,ip,app,device,os,channel,click_time,is_attributed,real_clicks_1hr,real_clicks_6hr,click_id
54955,48646,12,1,19,178,2017-11-06 16:00:00,0.0,2,2,NaN
28314,93836,12,1,30,328,2017-11-06 16:00:09,0.0,2,2,NaN
31830,5314,8,1,13,145,2017-11-06 16:00:09,0.0,3,3,NaN
99357,73954,23,1,19,153,2017-11-06 16:00:11,0.0,2,3,NaN
83228,91574,3,1,17,135,2017-11-06 16:00:11,0.0,1,1,NaN
...,...,...,...,...,...,...,...,...,...,...
18790464,99442,9,1,13,127,2017-11-10 15:00:00,NaN,2,8,18790464.0
18790465,88046,23,1,37,153,2017-11-10 15:00:00,NaN,1,396,18790465.0
18790466,81398,18,1,17,265,2017-11-10 15:00:00,NaN,2,374,18790467.0
18790467,123236,27,1,13,122,2017-11-10 15:00:00,NaN,1,79,18790466.0
18790468,73516,12,2,27,265,2017-11-10 15:00:00,NaN,4,34296,18790468.0

In [165]:
# %%time

# from sklearn.feature_extraction.text import CountVectorizer
# from sklearn.decomposition import LatentDirichletAllocation
# from itertools import permutations

# if LDA_Mode == 'ON':
#     col = ['ip', 'os', 'app', 'channel', 'device']
#     #col = ['ip', 'os']
#     ti = 0
#     # 모든 2개 조합에 대해 반복
#     for i, (var1, var2) in enumerate(permutations(col, 2), start=1):
#         ti += 1
#         # data_samples 생성
#         data_samples = train[[var1, var2]].to_dict('records')
        
#         # IP 주소별로 실행된 애플리케이션을 사전 형태로 저장
#         apps_of_ip = {}
#         for sample in data_samples:
#             apps_of_ip.setdefault(sample[var1], []).append(str(sample[var2]))

#         # 각 IP 주소별로 실행된 애플리케이션을 문장 형태로 변환
#         ips = list(apps_of_ip.keys())
#         apps_as_sentence = [' '.join(apps_of_ip[ip]) for ip in ips]

#         # CountVectorizer를 사용하여 문서-단어 행렬로 변환
#         vectorizer = CountVectorizer()
#         apps_as_matrix = vectorizer.fit_transform(apps_as_sentence)

#         # LDA 모델을 사용하여 토픽 모델링 수행
#         lda = LatentDirichletAllocation(n_components=5, random_state=42)
#         topics_of_ips = lda.fit_transform(apps_as_matrix)

#         # 토픽 데이터프레임 생성
#         topics_df = pd.DataFrame(topics_of_ips, columns=[f'topic_{var1}+{var2}+_{j+1}' for j in range(5)])

#         # IP 주소 열 추가
#         topics_df[var1] = ips

#         # 원래 데이터프레임과 병합
#         train = train.merge(topics_df, on=var1, how='left')
#         test = test.merge(topics_df, on=var1, how='left')
        
#         train.to_csv(f'train_new{ti}.csv', index=False)
#         print(f"!!! {ti} end")

# train

In [166]:
%%time

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.decomposition import LatentDirichletAllocation
from itertools import permutations
import pandas as pd

if LDA_Mode == 'ON':
    col = ['ip', 'os', 'app', 'channel', 'device']
    ti = 0
    
    for i, (var1, var2) in enumerate(permutations(col, 2), start=1):
        ti += 1
        print(f"Processing combination {ti}: {var1}, {var2}")

        # Train 데이터로 data_samples 생성
        data_samples_train = train[[var1, var2]].to_dict('records')
        apps_of_ip_train = {}
        for sample in data_samples_train:
            apps_of_ip_train.setdefault(sample[var1], []).append(str(sample[var2]))

        ips_train = list(apps_of_ip_train.keys())
        apps_as_sentence_train = [' '.join(apps_of_ip_train[ip]) for ip in ips_train]

        vectorizer = CountVectorizer()
        apps_as_matrix_train = vectorizer.fit_transform(apps_as_sentence_train)

        lda = LatentDirichletAllocation(n_components=5, random_state=42)
        topics_of_ips_train = lda.fit_transform(apps_as_matrix_train)

        topics_df_train = pd.DataFrame(topics_of_ips_train, columns=[f'topic_{var1}+{var2}+_{j+1}' for j in range(5)])
        topics_df_train[var1] = ips_train

        # Test 데이터로 data_samples 생성
        data_samples_test = test[[var1, var2]].to_dict('records')
        apps_of_ip_test = {}
        for sample in data_samples_test:
            apps_of_ip_test.setdefault(sample[var1], []).append(str(sample[var2]))

        ips_test = list(apps_of_ip_test.keys())
        apps_as_sentence_test = [' '.join(apps_of_ip_test[ip]) for ip in ips_test]

        apps_as_matrix_test = vectorizer.transform(apps_as_sentence_test)
        topics_of_ips_test = lda.transform(apps_as_matrix_test)

        topics_df_test = pd.DataFrame(topics_of_ips_test, columns=[f'topic_{var1}+{var2}+_{j+1}' for j in range(5)])
        topics_df_test[var1] = ips_test

        # 필요한 피처만 포함하여 병합 최적화
        merge_columns = [var1] + [f'topic_{var1}+{var2}+_{j+1}' for j in range(5)]
        
        # train과 test에 병합
        train = train.merge(topics_df_train[merge_columns], on=var1, how='left')
        test = test.merge(topics_df_test[merge_columns], on=var1, how='left')

        print(f"!!! {ti} end")

print("All combinations processed.")
train

All combinations processed.
CPU times: total: 0 ns
Wall time: 7 ms

,ip,app,device,os,channel,click_time,is_attributed,real_clicks_1hr,real_clicks_6hr
54955,48646,12,1,19,178,2017-11-06 16:00:00,0,2,2
28314,93836,12,1,30,328,2017-11-06 16:00:09,0,2,2
31830,5314,8,1,13,145,2017-11-06 16:00:09,0,3,3
99357,73954,23,1,19,153,2017-11-06 16:00:11,0,2,3
83228,91574,3,1,17,135,2017-11-06 16:00:11,0,1,1
...,...,...,...,...,...,...,...,...,...
75024,85592,12,1,13,145,2017-11-09 15:59:42,0,1,2
83818,91779,18,1,41,379,2017-11-09 15:59:43,0,1,1
17634,81374,14,1,25,118,2017-11-09 15:59:44,0,1,1
41817,11911,1,1,22,115,2017-11-09 15:59:46,0,1,1
23038,44018,13,1,19,477,2017-11-09 15:59:51,0,1,1

In [167]:
test.isna().sum().sum()

0

In [168]:
# %%time
# from sklearn.feature_extraction.text import CountVectorizer
# from sklearn.decomposition import LatentDirichletAllocation
# from itertools import permutations

# # 변수 설정
# if LDA_Mode == 'ON':
#     col = ['ip', 'os', 'app', 'channel', 'device']
#     lda_models = {}
#     vectorizers = {}

#     ti = 0
#     # 모든 2개 조합에 대해 반복
#     for var1, var2 in permutations(col, 2):
#         ti += 1
#         # data_samples 생성
#         #data_samples = train[[var1, var2]].to_dict('records')
#         data_samples = combined_data[[var1, var2]].to_dict('records')
        

#         # IP 주소별로 실행된 애플리케이션을 사전 형태로 저장
#         apps_of_ip = {}
#         for sample in data_samples:
#             apps_of_ip.setdefault(sample[var1], []).append(str(sample[var2]))
        
#         # 각 IP 주소별로 실행된 애플리케이션을 문장 형태로 변환
#         ips = list(apps_of_ip.keys())
#         apps_as_sentence = [' '.join(apps_of_ip[ip]) for ip in ips]

#         # CountVectorizer를 사용하여 문서-단어 행렬로 변환
#         vectorizer = CountVectorizer()
#         apps_as_matrix = vectorizer.fit_transform(apps_as_sentence)

#         # LDA 모델을 사용하여 토픽 모델링 수행
#         lda = LatentDirichletAllocation(n_components=5, random_state=42)
#         topics_of_ips = lda.fit_transform(apps_as_matrix)

#         # 학습된 모델과 벡터라이저를 저장
#         lda_models[(var1, var2)] = lda
#         vectorizers[(var1, var2)] = vectorizer

#         # 토픽 데이터프레임 생성
#         topics_df = pd.DataFrame(topics_of_ips, columns=[f'topic_{var1}+{var2}+_{j+1}' for j in range(5)])

#         # IP 주소 열 추가
#         topics_df[var1] = ips

#         # 원래 데이터프레임과 병합
#         train = pd.merge(train, topics_df)
#         print(f"train no.{ti} end")
#         test = pd.merge(test, topics_df)
#         print(f"test no.{ti} end")

In [169]:
for var1, var2 in permutations(col, 2):
    print((var1, var2))

('ip', 'app')
('ip', 'os')
('ip', 'channel')
('ip', 'device')
('app', 'ip')
('app', 'os')
('app', 'channel')
('app', 'device')
('os', 'ip')
('os', 'app')
('os', 'channel')
('os', 'device')
('channel', 'ip')
('channel', 'app')
('channel', 'os')
('channel', 'device')
('device', 'ip')
('device', 'app')
('device', 'os')
('device', 'channel')

In [170]:
combined_data['device'].nunique()

1995

In [171]:
train.columns

Index(['ip', 'app', 'device', 'os', 'channel', 'click_time', 'is_attributed',
       'real_clicks_1hr', 'real_clicks_6hr'],
      dtype='object')

In [172]:
test

,click_id,ip,app,device,os,channel,click_time,real_clicks_1hr,real_clicks_6hr
0,0,5744,9,1,3,107,2017-11-10 04:00:00,34,50
1,1,119901,9,1,3,466,2017-11-10 04:00:00,403,747
2,2,72287,21,1,19,128,2017-11-10 04:00:00,229,500
3,3,78477,15,1,13,111,2017-11-10 04:00:00,239,476
4,4,123080,12,1,13,328,2017-11-10 04:00:00,60,68
...,...,...,...,...,...,...,...,...,...
18790464,18790464,99442,9,1,13,127,2017-11-10 15:00:00,2,8
18790465,18790465,88046,23,1,37,153,2017-11-10 15:00:00,1,396
18790466,18790467,81398,18,1,17,265,2017-11-10 15:00:00,2,374
18790467,18790466,123236,27,1,13,122,2017-11-10 15:00:00,1,79
18790468,18790468,73516,12,2,27,265,2017-11-10 15:00:00,4,34296

In [173]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100000 entries, 54955 to 23038
Data columns (total 9 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   ip               100000 non-null  uint32
 1   app              100000 non-null  uint16
 2   device           100000 non-null  uint16
 3   os               100000 non-null  uint16
 4   channel          100000 non-null  uint16
 5   click_time       100000 non-null  datetime64[ns]
 6   is_attributed    100000 non-null  uint8
 7   real_clicks_1hr  100000 non-null  int64
 8   real_clicks_6hr  100000 non-null  int64
dtypes: datetime64[ns](1), int64(2), uint16(4), uint32(1), uint8(1)
memory usage: 4.3 MB

In [174]:
train.columns

Index(['ip', 'app', 'device', 'os', 'channel', 'click_time', 'is_attributed',
       'real_clicks_1hr', 'real_clicks_6hr'],
      dtype='object')

In [175]:
train_5 = train[['ip', 'app', 'device', 'os', 'channel']]
train_5

          ip  app  device  os  channel
54955  48646   12       1  19      178
28314  93836   12       1  30      328
31830   5314    8       1  13      145
99357  73954   23       1  19      153
83228  91574    3       1  17      135
...      ...  ...     ...  ..      ...
75024  85592   12       1  13      145
83818  91779   18       1  41      379
17634  81374   14       1  25      118
41817  11911    1       1  22      115
23038  44018   13       1  19      477

[100000 rows x 5 columns]

In [176]:
# train = train.drop(['ip', 'app', 'device', 'os', 'channel'], axis = 1)
# train

In [177]:
test_5 = test[['ip', 'app', 'device', 'os', 'channel']]
test_5

              ip  app  device  os  channel
0           5744    9       1   3      107
1         119901    9       1   3      466
2          72287   21       1  19      128
3          78477   15       1  13      111
4         123080   12       1  13      328
...          ...  ...     ...  ..      ...
18790464   99442    9       1  13      127
18790465   88046   23       1  37      153
18790466   81398   18       1  17      265
18790467  123236   27       1  13      122
18790468   73516   12       2  27      265

[18790469 rows x 5 columns]

In [178]:
# test = test.drop(['ip', 'app', 'device', 'os', 'channel'], axis = 1)
# test

In [179]:
train.columns

Index(['ip', 'app', 'device', 'os', 'channel', 'click_time', 'is_attributed',
       'real_clicks_1hr', 'real_clicks_6hr'],
      dtype='object')

In [180]:
uint8_cols = ['is_attributed', 'click_time_hour', 'click_time_minute', 'real_clicks_1hr', 'real_clicks_6hr']
#train[uint8_cols] = train[uint8_cols].astype(np.uint8)

# 나머지 모든 열을 float32로 변환
exclude_cols = uint8_cols + ['click_time']
float32_cols = train.columns.difference(exclude_cols)
train[float32_cols] = train[float32_cols].astype(np.float32)

In [181]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100000 entries, 54955 to 23038
Data columns (total 9 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   ip               100000 non-null  float32
 1   app              100000 non-null  float32
 2   device           100000 non-null  float32
 3   os               100000 non-null  float32
 4   channel          100000 non-null  float32
 5   click_time       100000 non-null  datetime64[ns]
 6   is_attributed    100000 non-null  uint8
 7   real_clicks_1hr  100000 non-null  int64
 8   real_clicks_6hr  100000 non-null  int64
dtypes: datetime64[ns](1), float32(5), int64(2), uint8(1)
memory usage: 5.1 MB

In [182]:
uint8_cols = ['click_time_hour', 'click_time_minute', 'real_clicks_1hr', 'real_clicks_6hr']
#train[uint8_cols] = train[uint8_cols].astype(np.uint8)

# 나머지 모든 열을 float32로 변환
exclude_cols = uint8_cols + ['click_time']
float32_cols = test.columns.difference(exclude_cols)
test[float32_cols] = test[float32_cols].astype(np.float32)

In [183]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18790469 entries, 0 to 18790468
Data columns (total 9 columns):
 #   Column           Dtype
---  ------           -----
 0   click_id         float32
 1   ip               float32
 2   app              float32
 3   device           float32
 4   os               float32
 5   channel          float32
 6   click_time       datetime64[ns]
 7   real_clicks_1hr  int64
 8   real_clicks_6hr  int64
dtypes: datetime64[ns](1), float32(6), int64(2)
memory usage: 860.2 MB

In [184]:
# ips

In [185]:
# apps_of_ip

In [186]:
# apps_as_sentence

In [187]:
# lda_models

In [188]:
# topics_of_ips

In [189]:
# topics_of_ips.shape

In [190]:
# # 테스트 데이터에 대해 동일한 과정을 반복
# if LDA_Mode == 'ON':
#     for var1, var2 in permutations(col, 2):
#         # data_samples 생성
#         data_samples = test[[var1, var2]].to_dict('records')

#         # IP 주소별로 실행된 애플리케이션을 사전 형태로 저장
#         apps_of_ip = {}
#         for sample in data_samples:
#             apps_of_ip.setdefault(sample[var1], []).append(str(sample[var2]))

#         # 각 IP 주소별로 실행된 애플리케이션을 문장 형태로 변환
#         ips = list(apps_of_ip.keys())
#         test_apps_as_sentence = [' '.join(apps_of_ip[ip]) for ip in ips]

#         # 학습된 CountVectorizer를 사용하여 문서-단어 행렬로 변환
#         vectorizer = vectorizers[(var1, var2)]
#         test_apps_as_matrix = vectorizer.transform(test_apps_as_sentence)

#         # 학습된 LDA 모델을 사용하여 토픽 분포 예측
#         lda = lda_models[(var1, var2)]
#         topics_of_test_ips = lda.transform(test_apps_as_matrix)

#         # 토픽 데이터프레임 생성
#         topics_test_df = pd.DataFrame(topics_of_test_ips, columns=[f'topic_{var1}+{var2}+_{j+1}' for j in range(5)])

#         # IP 주소 열 추가
#         topics_test_df[var1] = ips

#         # 테스트 데이터프레임과 병합
#         test = test.merge(topics_test_df, on=var1, how='left')

In [191]:
train.isna().sum().sum()

0

In [192]:
test.isna().sum().sum()

0

In [193]:
# topics_of_test_ips.shape

In [194]:
# test['device'].nunique()

In [195]:
# lda_models

In [196]:
# %%time

# from sklearn.feature_extraction.text import CountVectorizer
# from sklearn.decomposition import LatentDirichletAllocation
# from itertools import permutations

# if LDA_Mode == 'ON':
#     col = ['ip', 'os', 'app', 'channel', 'device']
#     #col = ['ip', 'os']
#     ti = 0
#     # 모든 2개 조합에 대해 반복
#     for i, (var1, var2) in enumerate(permutations(col, 2), start=1):
#         ti += 1
#         print(f'{var1}, {var2}')
#         # data_samples 생성
#         data_samples = train[[var1, var2]].to_dict('records')

#         # IP 주소별로 실행된 애플리케이션을 사전 형태로 저장
#         apps_of_ip = {}
#         for sample in data_samples:
#             apps_of_ip.setdefault(sample[var1], []).append(str(sample[var2]))

#         # 각 IP 주소별로 실행된 애플리케이션을 문장 형태로 변환
#         ips = list(apps_of_ip.keys())
#         apps_as_sentence = [' '.join(apps_of_ip[ip]) for ip in ips]

#         # CountVectorizer를 사용하여 문서-단어 행렬로 변환
#         vectorizer = CountVectorizer()
#         apps_as_matrix = vectorizer.fit_transform(apps_as_sentence)

#         # LDA 모델을 사용하여 토픽 모델링 수행
#         lda = LatentDirichletAllocation(n_components=5, random_state=42)
#         topics_of_ips = lda.fit_transform(apps_as_matrix)

#         # 토픽 데이터프레임 생성
#         topics_df = pd.DataFrame(topics_of_ips, columns=[f'topic_{var1}+{var2}+_{j+1}' for j in range(5)])

#         # IP 주소 열 추가
#         topics_df[var1] = ips

#         # 원래 데이터프레임과 병합
#         train = train.merge(topics_df, on=var1, how='left')
        
        
        
#         data_samples = test[[var1, var2]].to_dict('records')

#         # IP 주소별로 실행된 애플리케이션을 사전 형태로 저장
#         apps_of_ip = {}
#         for sample in data_samples:
#             apps_of_ip.setdefault(sample[var1], []).append(str(sample[var2]))
        
#          # 테스트 데이터에 대한 data_samples 생성
#         data_samples = test[[var1, var2]].to_dict('records')

#         # IP 주소별로 실행된 애플리케이션을 사전 형태로 저장
#         apps_of_ip_test = {}
#         for sample in data_samples:
#             apps_of_ip_test.setdefault(sample[var1], []).append(str(sample[var2]))

#         # 각 IP 주소별로 실행된 애플리케이션을 문장 형태로 변환
#         test_ips = list(apps_of_ip_test.keys())
#         test_apps_as_sentence = [' '.join(apps_of_ip_test[ip]) for ip in test_ips]

#         # CountVectorizer를 사용하여 테스트 데이터의 문서-단어 행렬로 변환
        
#         test_apps_as_matrix = vectorizer.transform(test_apps_as_sentence)

#         # 테스트 데이터에 대해 LDA 토픽 분포 얻기
#         topics_of_test_ips = lda.transform(test_apps_as_matrix)

#         # 토픽 데이터프레임 생성
#         topics_test_df = pd.DataFrame(topics_of_test_ips, columns=[f'topic_{var1}+{var2}+_{j+1}' for j in range(5)])

#         # IP 주소 열 추가
#         topics_test_df[var1] = test_ips

#         # 테스트 데이터프레임과 병합
#         test = test.merge(topics_test_df, on=var1, how='left')
        
#         print("!!!", ti)
# #test.to_csv('test_new13.csv', index=False)
# test

In [197]:
# train = pd.read_csv('small_train_fea109.csv')
# train

In [198]:
# dtypes = {
#         'ip'            : 'uint32',
#         'app'           : 'uint16',
#         'device'        : 'uint16',
#         'os'            : 'uint16',
#         'channel'       : 'uint16',
#         'is_attributed' : 'uint8',
#         }

In [199]:
# train.info()

In [200]:
selected_columns = ['ip', 'app', 'device', 'os', 'channel']

In [201]:
# train = train.drop(selected_columns, axis = 1)
# train

In [202]:
# submission = pd.read_csv("sample_submission.csv")

In [203]:
selected_columns = ['ip', 'app', 'device', 'os', 'channel']

In [204]:
# uint8_cols = ['click_time_hour', 'click_time_minute', 'real_clicks_1hr', 'real_clicks_6hr']
# train[uint8_cols] = train[uint8_cols].astype(np.uint8)

# # 나머지 모든 열을 float32로 변환
# exclude_cols = uint8_cols + ['click_time']
# float32_cols = train.columns.difference(exclude_cols)
# train[float32_cols] = train[float32_cols].astype(np.float32)

In [205]:
# dtypes = {
#         'click_time_hour'            : 'uint8',
#         'click_time_minute'           : 'uint8',
#         'real_clicks_1hr'        : 'uint8',
#         'real_clicks_6hr'            : 'uint8',
#         }

# test = pd.read_csv('test_fea109.csv', dtype = dtypes)
# test

In [206]:
# test = test.drop(selected_columns, axis = 1)
# test

In [207]:
gc.collect()

0

## 공통

In [287]:
lgbm_params = {
    'learning_rate': LGBM_learning_rate,
    'objective': 'binary',    # binary, multiclass
    'metric': 'auc ',   # auc, multi_logloss
    'n_estimators': LGBM_n_estimators,
    'importance_type': 'gain',
    'verbose': -1,
    'random_state': 42,
}

xgb_params = {
    'objective': 'binary:logistic',   # binary:logistic, multi:softprob
    'eval_metric': 'auc',       # auc, mlogloss
    'learning_rate': XGB_learning_rate,
    'tree_method': XGB_tree_method,
    'n_estimators': XGB_n_estimators,
    'importance_type': 'gain',
    'verbosity': 0,
    'random_state': 42,
}

cb_params = {
    'objective': 'Logloss',     # Logloss, MultiClass
    'eval_metric': 'AUC',   # AUC, MultiClass
    'n_estimators': CB_n_estimators,
    'verbose': 0,
    'random_state': 42,
}

rf_params = {
    'random_state': 42,
}

In [209]:
len(train.columns)

9

In [210]:
len(test.columns)

9

In [211]:
# train.head()

In [212]:
# test.head()

In [213]:
obj_list = train.select_dtypes(include='object').columns.tolist()
cat_list = train.select_dtypes(include='category').columns.tolist()

atrributed_list = ['attributed_time',
 'attributed_time_day',
 'attributed_time_hour',
 'attributed_time_minute',
 'attributed_time_month',
 'attributed_time_second',
 'attributed_time_year',
 'time_diff']
#drop_fts = atrributed_list + obj_list
drop_fts = obj_list

drop_fts_all = ['click_time']


drop_fts_L = drop_fts
drop_fts_X = drop_fts
drop_fts_C = drop_fts
# drop_fts_C = drop_fts + cat_list
drop_fts_R = drop_fts + cat_list

In [214]:
drop_fts_all = []

In [215]:
def drop_sep(drop_fts, log='ON'):
    #X_tst = test.drop(drop_fts, axis=1)
    #X_tst = test.drop(drop_fts_all + ['click_id'], axis = 1)
    X_tst = test.drop(drop_fts_all, axis = 1)
    X = train.drop(drop_fts + drop_fts_all + [Target], axis=1)
    y = train[Target]

    if log == 'ON':
        print(X.columns)
        print(X_tst.columns)
        
        print(f'Train data shape: {X.shape}, Missing: {X.isna().sum().sum()}')
        print(f'Test  data shape: {X_tst.shape}, Missing: {X_tst.isna().sum().sum()}')
        print(X.columns)
    return X, y, X_tst

In [216]:
def oofp(model_name, model, X, y, X_tst, verbose):

    if Objective=='regression':
        folds = KFold(n_splits=5, shuffle=True, random_state=42)
        vld_pred = np.zeros(len(X))
        tst_pred = np.zeros(len(X_tst))
        ft_gain = np.zeros(len(X.columns))
    elif Objective=='binary':
        folds = StratifiedKFold(n_splits=5, shuffle=True, random_state=42)
        vld_pred = np.zeros(len(X))
        tst_pred = np.zeros(len(X_tst))
        ft_gain = np.zeros(len(X.columns))
    elif Objective=='multi':
        folds = StratifiedKFold(n_splits=5, shuffle=True, random_state=42)
        vld_pred = np.zeros((len(X), N_Class))
        tst_pred = np.zeros((len(X_tst), N_Class))
        ft_gain = np.zeros(len(X.columns))

    X = X.reset_index(drop=True)
    y = y.reset_index(drop=True)
    
    for fold_id, (trn_idx, vld_idx) in enumerate(folds.split(X, y)):
#    for fold_id, (trn_idx, vld_idx) in enumerate(folds.split(X_sampled, y_sampled)):
        if verbose > 0:
            print('\n', '#'*40, f'Fold {fold_id+1} / Fold {folds.n_splits}', '#'*40)
        X_trn, X_vld = X.loc[trn_idx], X.loc[vld_idx]
        y_trn, y_vld = y.loc[trn_idx], y.loc[vld_idx]
        if model_name == 'LGBM':
            model.fit(
                X_trn, y_trn,
                eval_set = [(X_vld, y_vld)],
                callbacks = [lgb.callback.log_evaluation(verbose)]
            )
        elif model_name == 'XGB':
            model.fit(
                X_trn, y_trn,
                eval_set = [(X_vld, y_vld)],
                verbose = verbose
            )
        elif model_name == 'CB':
            model.fit(
                X_trn, y_trn,
                eval_set = [(X_vld, y_vld)],
                cat_features = cat_fts,
                verbose = verbose
            )
        elif model_name == 'RF':
            model.fit(
                X_trn, y_trn,
            )
            

        if Objective == 'regression':
            vld_pred[vld_idx] = model.predict(X_vld)
            tst_pred += model.predict(X_tst) / folds.n_splits
            ft_gain += model.feature_importances_ / folds.n_splits
        elif Objective == 'binary':
            vld_pred[vld_idx] = model.predict_proba(X_vld)[:,1]
            tst_pred += model.predict_proba(X_tst)[:,1] / folds.n_splits
            ft_gain += model.feature_importances_ / folds.n_splits
        elif Objective == 'multi':
            vld_pred[vld_idx] = model.predict_proba(X_vld)
            tst_pred += model.predict_proba(X_tst) / folds.n_splits
            ft_gain += model.feature_importances_ / folds.n_splits

    return vld_pred, tst_pred, ft_gain

In [217]:
train.shape

(100000, 9)

In [218]:
def oofp_time(model_name, model, X, y, X_tst, verbose):

    if Objective == 'regression':
        vld_pred = np.zeros(len(X))
        tst_pred = np.zeros(len(X_tst))
        ft_gain = np.zeros(len(X.columns))
    elif Objective == 'binary':
        vld_pred = np.zeros(len(X))
        tst_pred = np.zeros(len(X_tst))
        ft_gain = np.zeros(len(X.columns))
    elif Objective == 'multi':
        vld_pred = np.zeros((len(X), N_Class))
        tst_pred = np.zeros((len(X_tst), N_Class))
        ft_gain = np.zeros(len(X.columns))

    # 데이터의 전체 길이와 원하는 학습 데이터의 비율 설정
    total_length = len(X)
    train_ratio = 0.8

    # 학습 데이터의 길이 계산
    train_length = int(total_length * train_ratio)

    # X와 y를 순서대로 나누기
    X_train = X.iloc[:train_length]
    X_valid = X.iloc[train_length:]
    y_train = y.iloc[:train_length]
    y_valid = y.iloc[train_length:]


    if model_name == 'LGBM':
        model.fit(
            X_train, y_train,
            eval_set=[(X_valid, y_valid)],
            callbacks=[lgb.callback.log_evaluation(verbose)]
        )
    elif model_name == 'XGB':
        model.fit(
            X_train, y_train,
            eval_set=[(X_valid, y_valid)],
            verbose=verbose
        )
    elif model_name == 'CB':
        model.fit(
            X_train, y_train,
            eval_set=[(X_valid, y_valid)],
            cat_features=cat_fts,
            verbose=verbose
        )
    elif model_name == 'RF':
        model.fit(
            X_train, y_train
        )

    if Objective == 'regression':
        vld_pred = model.predict(X_valid)
        tst_pred = model.predict(X_tst)
        ft_gain = model.feature_importances_
    elif Objective == 'binary':
        vld_pred = model.predict_proba(X_valid)[:, 1]
        tst_pred = model.predict_proba(X_tst)[:, 1]
        ft_gain = model.feature_importances_
    elif Objective == 'multi':
        vld_pred = model.predict_proba(X_valid)
        tst_pred = model.predict_proba(X_tst)
        ft_gain = model.feature_importances_

    return y_valid, vld_pred, tst_pred, ft_gain

In [219]:
def validate(y, vld_pred, eval_metric):
    if eval_metric == 'mae':
        result = mean_absolute_error(y, vld_pred)
    elif eval_metric == 'rmse':
        result = np.sqrt(mean_squared_error(y, vld_pred))
    elif eval_metric == 'rmsle':
        result = np.sqrt(mean_squared_log_error(y, vld_pred))
    elif eval_metric == 'accuracy':
         result = accuracy_score(y, vld_pred)
    elif eval_metric == 'f1_score':
        result = f1_score(y, vld_pred)
    elif eval_metric == 'roc_auc':
        result = roc_auc_score(y, vld_pred)
    elif eval_metric == 'log_loss':
        result = log_loss(y, vld_pred)
    else:
        raise ValueError("Unsupported evaluation metric.")

    return result

## Tuning

In [220]:
if LGBM_Mode == 'TUNING':
    lgbm_params.update({
        'learning_rate': 0.01,
        'n_estimators': 10000,
    })

if XGB_Mode == 'TUNING':
    xgb_params.update({
        'tree_method': 'hist',  # auto, exact, approx, hist
        'learning_rate': 0.03,
        'n_estimators': 10000,
    })

if CB_Mode == 'TUNING':
    cb_params.update({
        'n_estimators': 10000,
    })

In [221]:
def LGBM_Tuning(trial):
    tuning_params_L = {
        'num_leaves': trial.suggest_int("num_leaves", 7, 127),
        'subsample': trial.suggest_float("subsample", 0.5, 1.0),
        "colsample_bytree": trial.suggest_float("colsample_bytree", 0.5, 1.0),
    }
    tuning_params_L.update(lgbm_params)

    X, y, X_tst = drop_sep(drop_fts_L, log='OFF')
    model = LGBM_model(**tuning_params_L, early_stopping_round=LGBM_ESR)
    vld_pred_L, tst_pred_L, ft_gain_L = oofp('LGBM', model, X, y, X_tst, 0)
    return validate(y, vld_pred_L, Eval_Metric)

In [222]:
def XGB_Tuning(trial):
    tuning_params_X = {
        'max_depth': trial.suggest_int("max_depth", 3, 12),
        'max_leaves': trial.suggest_int("max_leaves", 63, 1023),
        'subsample': trial.suggest_float("subsample", 0.5, 1.0),
        'colsample_bytree': trial.suggest_float("colsample_bytree", 0.5, 1.0),
    }
    tuning_params_X.update(xgb_params)

    X, y, X_tst = drop_sep(drop_fts_X, log='OFF')
    model = XGB_model(**tuning_params_X, early_stopping_rounds=XGB_ESR, enable_categorical=True)
    vld_pred_X, tst_pred_X, ft_gain_X = oofp('XGB', model, X, y, X_tst, 0)
    return validate(y, vld_pred_X, Eval_Metric)

In [223]:
def CB_Tuning(trial):
    tuning_params_C = {
        'depth': trial.suggest_int("depth", 3, 12),
        #'subsample': trial.suggest_float("subsample", 0.5, 1.0),
        'colsample_bylevel': trial.suggest_float("colsample_bylevel", 0.5, 1.0),
    }
    tuning_params_C.update(cb_params)

    X, y, X_tst = drop_sep(drop_fts_C, log='OFF')
    model = CB_model(**tuning_params_C, early_stopping_rounds=CB_ESR)
    vld_pred_C, tst_pred_C, ft_gain_C = oofp('CB', model, X, y, X_tst, 0)
    return validate(y, vld_pred_C, Eval_Metric)

In [224]:
def tuning_result(study):
    print("\nBest Value:", study.best_value)
    print("Best trial number: ", study.best_trial.number)
    print(study.best_params)

In [225]:
def create_study(name):
    study = optuna.create_study(
        study_name = name,
        direction = 'minimize',
        sampler = TPESampler(seed=42)
    )
    return study

In [226]:
%%time
if LGBM_Mode == 'TUNING':
    study = create_study('LGBM Tuning')
    study.optimize(lambda trial: LGBM_Tuning(trial), n_trials=LGBM_Tuning_Tries)
    lgbm_params.update({
        'num_leaves': study.best_params['num_leaves'],
        'subsample': study.best_params['subsample'],
        'colsample_bytree': study.best_params['colsample_bytree'],
    })
    tuning_result(study)

CPU times: total: 0 ns
Wall time: 0 ns

In [227]:
%%time
if XGB_Mode == 'TUNING':
    study = create_study('XGB Tuning')
    study.optimize(lambda trial: XGB_Tuning(trial), n_trials=XGB_Tuning_Tries)
    xgb_params.update({
        'max_depth': study.best_params['max_depth'],
        'max_leaves': study.best_params['max_leaves'],
        'subsample': study.best_params['subsample'],
        'colsample_bytree': study.best_params['colsample_bytree'],
    })
    tuning_result(study)

CPU times: total: 0 ns
Wall time: 0 ns

In [228]:
%%time
if CB_Mode == 'TUNING':
    study = create_study('CatBoost Tuning')
    study.optimize(lambda trial: CB_Tuning(trial), n_trials=CB_Tuning_Tries)
    cb_params.update({
        'depth': study.best_params['depth'],
        # 'subsample': study.best_params['subsample'],
        'colsample_bylevel': study.best_params['colsample_bylevel'],
    })
    tuning_result(study)

CPU times: total: 0 ns
Wall time: 0 ns

In [229]:
# train.to_csv("small_train_fea106_0719ver.csv", index=False)

In [230]:
train.shape

(100000, 9)

In [231]:
# test.to_csv("test_fea105_0719ver.csv", index=False)

In [232]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18790469 entries, 0 to 18790468
Data columns (total 9 columns):
 #   Column           Dtype
---  ------           -----
 0   click_id         float32
 1   ip               float32
 2   app              float32
 3   device           float32
 4   os               float32
 5   channel          float32
 6   click_time       datetime64[ns]
 7   real_clicks_1hr  int64
 8   real_clicks_6hr  int64
dtypes: datetime64[ns](1), float32(6), int64(2)
memory usage: 860.2 MB

In [233]:
test.head()

,click_id,ip,app,device,os,channel,click_time,real_clicks_1hr,real_clicks_6hr
0,0.0,5744.0,9.0,1.0,3.0,107.0,2017-11-10 04:00:00,34,50
1,1.0,119901.0,9.0,1.0,3.0,466.0,2017-11-10 04:00:00,403,747
2,2.0,72287.0,21.0,1.0,19.0,128.0,2017-11-10 04:00:00,229,500
3,3.0,78477.0,15.0,1.0,13.0,111.0,2017-11-10 04:00:00,239,476
4,4.0,123080.0,12.0,1.0,13.0,328.0,2017-11-10 04:00:00,60,68

In [234]:
# test['topic_ip+os+_1'].info()

In [235]:
test.shape

(18790469, 9)

In [236]:
train.shape

(100000, 9)

In [237]:
len(train[train['is_attributed'] == 1])

227

In [238]:
train.columns

Index(['ip', 'app', 'device', 'os', 'channel', 'click_time', 'is_attributed',
       'real_clicks_1hr', 'real_clicks_6hr'],
      dtype='object')

In [239]:
len(set(test.columns))

9

In [240]:
test.columns

Index(['click_id', 'ip', 'app', 'device', 'os', 'channel', 'click_time',
       'real_clicks_1hr', 'real_clicks_6hr'],
      dtype='object')

In [241]:
'target' in test.columns

False

In [242]:
# test = test.drop('target', axis = 1)

## drop

In [243]:
#train = train.drop('ip', axis = 1)
#test = test.drop('ip', axis = 1)
train

,ip,app,device,os,channel,click_time,is_attributed,real_clicks_1hr,real_clicks_6hr
54955,48646.0,12.0,1.0,19.0,178.0,2017-11-06 16:00:00,0,2,2
28314,93836.0,12.0,1.0,30.0,328.0,2017-11-06 16:00:09,0,2,2
31830,5314.0,8.0,1.0,13.0,145.0,2017-11-06 16:00:09,0,3,3
99357,73954.0,23.0,1.0,19.0,153.0,2017-11-06 16:00:11,0,2,3
83228,91574.0,3.0,1.0,17.0,135.0,2017-11-06 16:00:11,0,1,1
...,...,...,...,...,...,...,...,...,...
75024,85592.0,12.0,1.0,13.0,145.0,2017-11-09 15:59:42,0,1,2
83818,91779.0,18.0,1.0,41.0,379.0,2017-11-09 15:59:43,0,1,1
17634,81374.0,14.0,1.0,25.0,118.0,2017-11-09 15:59:44,0,1,1
41817,11911.0,1.0,1.0,22.0,115.0,2017-11-09 15:59:46,0,1,1
23038,44018.0,13.0,1.0,19.0,477.0,2017-11-09 15:59:51,0,1,1

In [244]:
# cols_to_drop = ['device', 'os', 'channel']
# train = train.drop(cols_to_drop, axis=1)
# test = test.drop(cols_to_drop, axis=1)
# train

In [245]:
if 'click_time' in train.columns :
    train = train.drop('click_time', axis = 1)

In [246]:
train.columns

Index(['ip', 'app', 'device', 'os', 'channel', 'is_attributed',
       'real_clicks_1hr', 'real_clicks_6hr'],
      dtype='object')

In [247]:
if 'click_time' in test.columns :
    test = test.drop('click_time', axis = 1)

In [248]:
test.columns

Index(['click_id', 'ip', 'app', 'device', 'os', 'channel', 'real_clicks_1hr',
       'real_clicks_6hr'],
      dtype='object')

## LightGBM

In [249]:
if LGBM_Mode == 'ON':
    lgbm_params.update({})
    # lgbm_params.update({'n_estimators': 1000})

lgbm_params

{'learning_rate': 0.1,
 'objective': 'binary',
 'metric': 'auc ',
 'n_estimators': 1000,
 'importance_type': 'gain',
 'verbose': -1,
 'random_state': 42}

In [250]:
if 'click_id' in test.columns :
    test = test.drop('click_id', axis = 1)

In [251]:
if LGBM_Mode != 'OFF':
    X, y, X_tst = drop_sep(drop_fts_L)
    LGBM_columns = X.columns

In [252]:
if LGBM_Mode != 'OFF':
    print(set(X_tst.columns) - set(X.columns))

In [253]:
# sample_fraction = 0.01
# X_sampled = X.sample(frac=sample_fraction, random_state=42)
# y_sampled = y.loc[X_sampled.index]
# X_sampled.shape

In [254]:
%%time
if LGBM_Mode != 'OFF':
    model = LGBM_model(**lgbm_params, early_stopping_round=LGBM_ESR)
    # vld_pred_L, tst_pred_L, ft_gain_L = oofp('LGBM', model, X, y, X_tst, 100)
    #vld_real_y, vld_pred_L, tst_pred_L, ft_gain_L = oofp_time('LGBM', model, X, y, X_tst, 100)
    vld_pred_L, tst_pred_L, ft_gain_L = oofp('LGBM', model, X, y, X_tst, 100)
    #result = validate(vld_real_y, vld_pred_L, Eval_Metric)
    result = validate(y, vld_pred_L, Eval_Metric)
    #result = validate(y_sampled, vld_pred_L, Eval_Metric)
    print(f'\nLGBM Validation: {result:.5f}')

CPU times: total: 0 ns
Wall time: 0 ns

## XGBoost

In [288]:
if XGB_Mode == 'ON':
    xgb_params.update({})
    # xgb_params.update({'n_estimators': 1000})

xgb_params

{'objective': 'binary:logistic',
 'eval_metric': 'auc',
 'learning_rate': 0.1,
 'tree_method': 'exact',
 'n_estimators': 5000,
 'importance_type': 'gain',
 'verbosity': 0,
 'random_state': 42}

In [256]:
drop_fts_X

[]

In [289]:
if XGB_Mode != 'OFF':
    X, y, X_tst = drop_sep(drop_fts_X)
    #print(X.columns)
    #print(y.columns)
    XGB_columns = X.columns

Index(['ip', 'app', 'device', 'os', 'channel', 'real_clicks_1hr',
       'real_clicks_6hr'],
      dtype='object')
Index(['ip', 'app', 'device', 'os', 'channel', 'real_clicks_1hr',
       'real_clicks_6hr'],
      dtype='object')
Train data shape: (100000, 7), Missing: 0
Test  data shape: (18790469, 7), Missing: 0
Index(['ip', 'app', 'device', 'os', 'channel', 'real_clicks_1hr',
       'real_clicks_6hr'],
      dtype='object')

In [258]:
t1 = set(train.columns)
t2 = set(test.columns)
t2 - t1

set()

In [259]:
train.shape

(100000, 8)

In [260]:
train.columns

Index(['ip', 'app', 'device', 'os', 'channel', 'is_attributed',
       'real_clicks_1hr', 'real_clicks_6hr'],
      dtype='object')

In [261]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100000 entries, 54955 to 23038
Data columns (total 8 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   ip               100000 non-null  float32
 1   app              100000 non-null  float32
 2   device           100000 non-null  float32
 3   os               100000 non-null  float32
 4   channel          100000 non-null  float32
 5   is_attributed    100000 non-null  uint8
 6   real_clicks_1hr  100000 non-null  int64
 7   real_clicks_6hr  100000 non-null  int64
dtypes: float32(5), int64(2), uint8(1)
memory usage: 4.3 MB

In [290]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18790469 entries, 0 to 18790468
Data columns (total 7 columns):
 #   Column           Dtype
---  ------           -----
 0   ip               float32
 1   app              float32
 2   device           float32
 3   os               float32
 4   channel          float32
 5   real_clicks_1hr  int64
 6   real_clicks_6hr  int64
dtypes: float32(5), int64(2)
memory usage: 645.1 MB

In [291]:
%%time
if XGB_Mode != 'OFF':
    model = XGB_model(**xgb_params, early_stopping_rounds=XGB_ESR)
    #model = XGB_model(**xgb_params, early_stopping_rounds=XGB_ESR, enable_categorical=True)
    vld_pred_X, tst_pred_X, ft_gain_X = oofp('XGB', model, X, y, X_tst, 100)
    result = validate(y, vld_pred_X, Eval_Metric)
    print(f'\nXGB Validation: {result:.5f}')

 ######################################## Fold 1 / Fold 5 ########################################
[0]	validation_0-auc:0.83348
[100]	validation_0-auc:0.96202
[160]	validation_0-auc:0.95120

 ######################################## Fold 2 / Fold 5 ########################################
[0]	validation_0-auc:0.83657
[100]	validation_0-auc:0.93782
[134]	validation_0-auc:0.93743

 ######################################## Fold 3 / Fold 5 ########################################
[0]	validation_0-auc:0.88182
[100]	validation_0-auc:0.96160
[200]	validation_0-auc:0.96875
[300]	validation_0-auc:0.97002
[400]	validation_0-auc:0.96928
[429]	validation_0-auc:0.96918

 ######################################## Fold 4 / Fold 5 ########################################
[0]	validation_0-auc:0.86247
[100]	validation_0-auc:0.95430
[156]	validation_0-auc:0.95362

 ######################################## Fold 5 / Fold 5 ########################################
[0]	validation_0-auc:0.88182
[100]	validation_0-auc:0.93988
[147]	validation_0-auc:0.93612

XGB Validation: 0.95047
CPU times: total: 9min 48s
Wall time: 1min 22s

## CatBoost

In [264]:
if CB_Mode == 'ON':
    cb_params.update({})
    # cb_params.update({'n_estimators': 3000})

cb_params

{'objective': 'Logloss',
 'eval_metric': 'AUC',
 'n_estimators': 1000,
 'verbose': 0,
 'random_state': 42}

In [265]:
if CB_Mode != 'OFF':
    X, y, X_tst = drop_sep(drop_fts_C)
    CB_columns = X.columns

In [266]:
%%time
if CB_Mode != 'OFF':
    model = CB_model(**cb_params, early_stopping_rounds=CB_ESR)
    vld_pred_C, tst_pred_C, ft_gain_C = oofp('CB', model, X, y, X_tst, 100)
    result = validate(y, vld_pred_C, Eval_Metric)
    print(f'\nCatBoost Validation: {result:.5f}')

CPU times: total: 0 ns
Wall time: 0 ns

## RandomForest

In [267]:
if RF_Mode == 'ON':
    # rf_params.update({})
    rf_params.update({'n_estimators': 1000})

rf_params

{'random_state': 42}

In [268]:
if RF_Mode != 'OFF':
    X, y, X_tst = drop_sep(drop_fts_R)
    RF_columns = X.columns

In [269]:
%%time
if RF_Mode != 'OFF':
    model = RF_model(**rf_params)
    vld_pred_R, tst_pred_R, ft_gain_R = oofp('RF', model, X, y, X_tst, 100)
    result = validate(y, vld_pred_R, Eval_Metric)
    print(f'\nRandomForest Validation: {result:.5f}')

CPU times: total: 0 ns
Wall time: 0 ns

## NN

In [270]:
pip install tensorflow pandas scikit-learn

Requirement already satisfied: tensorflow in c:\users\sklee\anaconda3\lib\site-packages (2.16.1)
Requirement already satisfied: pandas in c:\users\sklee\anaconda3\lib\site-packages (2.1.4)
Requirement already satisfied: scikit-learn in c:\users\sklee\anaconda3\lib\site-packages (1.2.2)
Requirement already satisfied: tensorflow-intel==2.16.1 in c:\users\sklee\anaconda3\lib\site-packages (from tensorflow) (2.16.1)
Requirement already satisfied: absl-py>=1.0.0 in c:\users\sklee\anaconda3\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (2.1.0)
Requirement already satisfied: astunparse>=1.6.0 in c:\users\sklee\anaconda3\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (1.6.3)
Requirement already satisfied: flatbuffers>=23.5.26 in c:\users\sklee\anaconda3\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (24.3.25)
Requirement already satisfied: gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1 in c:\users\sklee\anaconda3\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (0.5.5)
Requirement already satisfied: google-pasta>=0.1.1 in c:\users\sklee\anaconda3\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (0.2.0)
Requirement already satisfied: h5py>=3.10.0 in c:\users\sklee\anaconda3\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (3.11.0)
Requirement already satisfied: libclang>=13.0.0 in c:\users\sklee\anaconda3\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (18.1.1)
Requirement already satisfied: ml-dtypes~=0.3.1 in c:\users\sklee\anaconda3\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (0.3.2)
Requirement already satisfied: opt-einsum>=2.3.2 in c:\users\sklee\anaconda3\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (3.3.0)
Requirement already satisfied: packaging in c:\users\sklee\anaconda3\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (23.1)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.20.3 in c:\users\sklee\anaconda3\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (3.20.3)
Requirement already satisfied: requests<3,>=2.21.0 in c:\users\sklee\anaconda3\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (2.31.0)
Requirement already satisfied: setuptools in c:\users\sklee\anaconda3\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (68.2.2)
Requirement already satisfied: six>=1.12.0 in c:\users\sklee\anaconda3\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (1.16.0)
Requirement already satisfied: termcolor>=1.1.0 in c:\users\sklee\anaconda3\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (2.4.0)
Requirement already satisfied: typing-extensions>=3.6.6 in c:\users\sklee\anaconda3\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (4.9.0)
Requirement already satisfied: wrapt>=1.11.0 in c:\users\sklee\anaconda3\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (1.14.1)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in c:\users\sklee\anaconda3\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (1.64.1)
Requirement already satisfied: tensorboard<2.17,>=2.16 in c:\users\sklee\anaconda3\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (2.16.2)
Requirement already satisfied: keras>=3.0.0 in c:\users\sklee\anaconda3\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (3.4.1)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in c:\users\sklee\anaconda3\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (0.31.0)
Requirement already satisfied: numpy<2.0.0,>=1.23.5 in c:\users\sklee\anaconda3\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sklee\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\sklee\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\sklee\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: scipy>=1.3.2 in c:\users\sklee\anaconda3\lib\site-packages (from scikit-learn) (1.11.4)
Requirement already satisfied: joblib>=1.1.1 in c:\users\sklee\anaconda3\lib\site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\sklee\anaconda3\lib\site-packages (from scikit-learn) (2.2.0)
Requirement already satisfied: wheel<1.0,>=0.23.0 in c:\users\sklee\anaconda3\lib\site-packages (from astunparse>=1.6.0->tensorflow-intel==2.16.1->tensorflow) (0.41.2)
Requirement already satisfied: rich in c:\users\sklee\anaconda3\lib\site-packages (from keras>=3.0.0->tensorflow-intel==2.16.1->tensorflow) (13.3.5)
Requirement already satisfied: namex in c:\users\sklee\anaconda3\lib\site-packages (from keras>=3.0.0->tensorflow-intel==2.16.1->tensorflow) (0.0.8)
Requirement already satisfied: optree in c:\users\sklee\anaconda3\lib\site-packages (from keras>=3.0.0->tensorflow-intel==2.16.1->tensorflow) (0.11.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\sklee\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorflow-intel==2.16.1->tensorflow) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\sklee\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorflow-intel==2.16.1->tensorflow) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\sklee\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorflow-intel==2.16.1->tensorflow) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\sklee\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorflow-intel==2.16.1->tensorflow) (2024.2.2)
Requirement already satisfied: markdown>=2.6.8 in c:\users\sklee\anaconda3\lib\site-packages (from tensorboard<2.17,>=2.16->tensorflow-intel==2.16.1->tensorflow) (3.4.1)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in c:\users\sklee\anaconda3\lib\site-packages (from tensorboard<2.17,>=2.16->tensorflow-intel==2.16.1->tensorflow) (0.7.2)
Requirement already satisfied: werkzeug>=1.0.1 in c:\users\sklee\anaconda3\lib\site-packages (from tensorboard<2.17,>=2.16->tensorflow-intel==2.16.1->tensorflow) (2.2.3)
Requirement already satisfied: MarkupSafe>=2.1.1 in c:\users\sklee\anaconda3\lib\site-packages (from werkzeug>=1.0.1->tensorboard<2.17,>=2.16->tensorflow-intel==2.16.1->tensorflow) (2.1.3)
Requirement already satisfied: markdown-it-py<3.0.0,>=2.2.0 in c:\users\sklee\anaconda3\lib\site-packages (from rich->keras>=3.0.0->tensorflow-intel==2.16.1->tensorflow) (2.2.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\users\sklee\anaconda3\lib\site-packages (from rich->keras>=3.0.0->tensorflow-intel==2.16.1->tensorflow) (2.15.1)
Requirement already satisfied: mdurl~=0.1 in c:\users\sklee\anaconda3\lib\site-packages (from markdown-it-py<3.0.0,>=2.2.0->rich->keras>=3.0.0->tensorflow-intel==2.16.1->tensorflow) (0.1.0)
Note: you may need to restart the kernel to use updated packages.

In [271]:
# import tensorflow as tf
# from tensorflow.keras.models import Sequential
# from tensorflow.keras.layers import Dense, Dropout
# from tensorflow.keras.optimizers import Adam
# from tensorflow.keras.losses import BinaryCrossentropy
# from tensorflow.keras.metrics import AUC
# import pandas as pd
# from sklearn.model_selection import train_test_split
# from sklearn.preprocessing import StandardScaler
# from sklearn.metrics import classification_report, roc_auc_score

In [272]:
if RNN_Mode == 'ON' :
    X, y, X_tst = drop_sep(drop_fts_X)

In [273]:
# Feature와 Target 변수 분리

if RNN_Mode == 'ON' :
    X_train = X.copy()
    y_train = y.copy()
    X_test = X_tst.copy()
    #y_test = test_data['Target']
    
    # 데이터 정규화 (옵션으로 적용, 필요시 사용)
    scaler = StandardScaler()
    X_train = scaler.fit_transform(X_train)
    X_test = scaler.transform(X_test)
    
    # 모델 구성
    model = Sequential([
        Dense(64, input_dim=X_train.shape[1], activation='relu'),
        Dropout(0.5),
        Dense(32, activation='relu'),
        Dropout(0.5),
        Dense(1, activation='sigmoid')
    ])
    
    # 모델 컴파일
    model.compile(optimizer=Adam(),
                  loss=BinaryCrossentropy(),
                  metrics=[AUC()])
    
    # 모델 훈련
    history = model.fit(X_train, y_train, epochs=50, batch_size=32, validation_split=0.2)

In [274]:
if RNN_Mode == 'ON' :
    X.shape

In [275]:
def oofp_RNN(X, y, X_tst, verbose):

    folds = StratifiedKFold(n_splits=3, shuffle=True, random_state=42)
    vld_pred = np.zeros(len(X))
    tst_pred = np.zeros(len(X_tst))

    for fold_id, (trn_idx, vld_idx) in enumerate(folds.split(X, y)):
        if verbose > 0:
            print('\n', '#'*40, f'Fold {fold_id+1} / Fold {folds.n_splits}', '#'*40)
        X_trn, X_vld = X[trn_idx], X[vld_idx]
        y_trn, y_vld = y[trn_idx], y[vld_idx]

        model.fit(
            X_trn, y_trn,
            epochs=50,
            batch_size=32,
            validation_data=(X_vld, y_vld),
            verbose=verbose
        )

        vld_pred[vld_idx] = model.predict(X_vld).flatten()
        tst_pred += model.predict(X_tst).flatten() / folds.n_splits

    return vld_pred, tst_pred, ft_gain

if RNN_Mode == 'ON' :
    vld_pred_RNN, tst_pred_RNN = oofp_RNN(X_train, y, X_test, 100)
    result = validate(y, vld_pred_L, Eval_Metric)
    print(f'\nLGBM Validation: {result:.5f}')

## Ensemble

In [276]:
# %%time
# if Ensemble_Mode == 'ON':
#     L_weight, X_weight, C_weight, R_weight = 1, 1, 1, 0
#     vld_pred_E, tst_pred_E, weight_sum = 0, 0, 0
#     if LGBM_Mode != 'OFF': weight_sum += L_weight
#     if XGB_Mode  != 'OFF': weight_sum += X_weight
#     if CB_Mode   != 'OFF': weight_sum += C_weight
#     if RF_Mode   != 'OFF': weight_sum += R_weight

#     if LGBM_Mode != 'OFF':
#         vld_pred_E += (vld_pred_L * L_weight) / weight_sum
#         tst_pred_E += (tst_pred_L * L_weight) / weight_sum
#     if XGB_Mode != 'OFF':
#         vld_pred_E += (vld_pred_X * X_weight) / weight_sum
#         tst_pred_E += (tst_pred_X * X_weight) / weight_sum
#     if CB_Mode != 'OFF':
#         vld_pred_E += (vld_pred_C * C_weight) / weight_sum
#         tst_pred_E += (tst_pred_C * C_weight) / weight_sum
#     if RF_Mode != 'OFF':
#         vld_pred_E += (vld_pred_R * R_weight) / weight_sum
#         tst_pred_E += (tst_pred_R * R_weight) / weight_sum

#     result = validate(y, vld_pred_E, Eval_Metric)
#     print(f'Ensemble Validation: {result:.5f}')

In [277]:
sub = submission.copy()
sub

          click_id  is_attributed
0                0              0
1                1              0
2                2              0
3                3              0
4                4              0
...            ...            ...
18790464  18790464              0
18790465  18790465              0
18790466  18790467              0
18790467  18790466              0
18790468  18790468              0

[18790469 rows x 2 columns]

In [278]:
tst_pred_X

NameError: name 'tst_pred_X' is not defined

In [ ]:
test

# Output

In [280]:
def output(filename, tst_pred):
    sub = submission.copy()
    sub.iloc[:, 1:] = tst_pred
    sub.to_csv(filename, index=False)
    print(filename, 'has been created.')
    print(sub, '\n\n')

## Base model

In [292]:
filename_L = 'output_1L.csv'
filename_X = 'output_1X.csv'
filename_C = 'output_1C.csv'
filename_R = 'output_1R.csv'
filename_E = 'output_1E.csv'


if LGBM_Mode != 'OFF':
    output(filename_L, tst_pred_L)
if XGB_Mode != 'OFF':
    output(filename_X, tst_pred_X)
if CB_Mode != 'OFF':
    output(filename_C, tst_pred_C)
if RF_Mode != 'OFF':
    output(filename_R, tst_pred_R)
if Ensemble_Mode != 'OFF':
    output(filename_E, tst_pred_E)
if RNN_Mode != 'OFF':
    output('output_full_RNN', tst_pred_RNN)

output_1X.csv has been created.
          click_id  is_attributed
0                0       0.006841
1                1       0.001945
2                2       0.001218
3                3       0.007094
4                4       0.001512
...            ...            ...
18790464  18790464       0.001137
18790465  18790465       0.001178
18790466  18790467       0.001323
18790467  18790466       0.001195
18790468  18790468       0.001314

[18790469 rows x 2 columns]

In [ ]:
train.columns

In [ ]:
test.head()

In [ ]:
tst_pred_X.shape

In [293]:
min(tst_pred_X)

0.001079210715715817

In [294]:
max(tst_pred_X)

0.6666718646883965

In [ ]:
test.shape

In [ ]:
test['target'] = tst_pred_X
test.head()

In [ ]:
test

-------------------------- End --------------------------------------------

## user

In [ ]:
test

In [ ]:
test['target'] = tst_pred_X
test.head()

In [ ]:
test['target'].mean()

In [ ]:
# group_vars = ['ip']
group_vars = ['ip']

df_grouped = test.groupby(group_vars)['target'].mean().reset_index()

# 평균 target 값을 기준으로 사기꾼(1)과 사기꾼이 아닌 사람(0)으로 분류
df_grouped['fraud'] = (df_grouped['target'] >= 0.5).astype(int)

test2 = test.merge(df_grouped, on=group_vars, how='left')

mse = mean_absolute_error(test2['fraud'], test2['target_x'])

t1 = set(test2.loc[test2['fraud'] == 1, 'ip'])
print(len(t1))
# 결과 출력
print(f'mean_absolute_error: {mse:.9f}')

In [ ]:
test2

In [ ]:
test2['target_x'].mean()

In [ ]:
threshold = 0.2
for threshold in [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8] : 
# group_vars = ['ip']
    print(f'{threshold}:')
    group_vars = ['ip', 'app', 'os', 'device', 'channel']

    df_grouped = test.groupby(group_vars)['target'].mean().reset_index()

    # 평균 target 값을 기준으로 사기꾼(1)과 사기꾼이 아닌 사람(0)으로 분류
    df_grouped['fraud'] = (df_grouped['target'] >= threshold).astype(int)

    test2 = test.merge(df_grouped, on=group_vars, how='left')

    mse = mean_absolute_error(test2['fraud'], test2['target_x'])

    t1 = set(test2.loc[test2['fraud'] == 1, 'ip'])
    print(len(t1))
    # 결과 출력
    print(f'mean_absolute_error: {mse:.9f}')
    
    unique_combinations_count_all = test2.groupby(group_vars).ngroups
    unique_combinations_count_1 = test2[test2['fraud'] == 1].groupby(group_vars).ngroups
    print(f'{unique_combinations_count_1 / unique_combinations_count_all*100}%')
    print()

In [ ]:
test2['fraud'].describe()

In [ ]:
threshold = 0.5

# group_vars = ['ip']
print(f'{threshold}:')
group_vars = ['ip', 'app', 'os', 'device', 'channel']

df_grouped = test.groupby(group_vars)['target'].mean().reset_index()

# 평균 target 값을 기준으로 사기꾼(1)과 사기꾼이 아닌 사람(0)으로 분류
df_grouped['fraud'] = (df_grouped['target'] >= threshold).astype(int)

test2 = test.merge(df_grouped, on=group_vars, how='left')

mse = mean_absolute_error(test2['fraud'], test2['target_x'])

t1 = set(test2.loc[test2['fraud'] == 1, 'ip'])
print(len(t1))
# 결과 출력
print(f'mean_absolute_error: {mse:.9f}')

unique_combinations_count_all = test2.groupby(group_vars).ngroups
unique_combinations_count_1 = test2[test2['fraud'] == 1].groupby(group_vars).ngroups
print(f'{unique_combinations_count_1 / unique_combinations_count_all*100}%')
print()

In [ ]:
test2

In [ ]:
test2['target_x'].describe()

In [ ]:
for threshold in np.arange(0.01, 0.11, 0.01):
    print(threshold)

In [ ]:

for threshold in np.arange(0.01, 0.11, 0.01) :
# group_vars = ['ip']
    print(f'{threshold}:')
    group_vars = ['ip', 'app', 'os', 'device', 'channel']

    df_grouped = test.groupby(group_vars)['target'].mean().reset_index()

    # 평균 target 값을 기준으로 사기꾼(1)과 사기꾼이 아닌 사람(0)으로 분류
    df_grouped['fraud'] = (df_grouped['target'] >= threshold).astype(int)

    test2 = test.merge(df_grouped, on=group_vars, how='left')

    mse = mean_absolute_error(test2['fraud'], test2['target_x'])

    t1 = set(test2.loc[test2['fraud'] == 1, 'ip'])
    print(len(t1))
    # 결과 출력
    print(f'mean_absolute_error: {mse:.9f}')
    
    unique_combinations_count_all = test2.groupby(group_vars).ngroups
    unique_combinations_count_1 = test2[test2['fraud'] == 1].groupby(group_vars).ngroups
    print(f'{unique_combinations_count_1 / unique_combinations_count_all*100}%')
    print()

In [ ]:
unique_combinations_count_all = test2.groupby(group_vars).ngroups
unique_combinations_count_1 = test2[test2['fraud'] == 1].groupby(group_vars).ngroups
print(f'{unique_combinations_count_1 / unique_combinations_count_all*100}%')

In [ ]:
test.shape

In [ ]:
df_grouped

In [ ]:

for threshold in range() : 
# group_vars = ['ip']
    print(f'{threshold}:')
    group_vars = ['ip', 'app', 'os', 'device', 'channel']

    df_grouped = test.groupby(group_vars)['target'].mean().reset_index()

    # 평균 target 값을 기준으로 사기꾼(1)과 사기꾼이 아닌 사람(0)으로 분류
    df_grouped['fraud'] = (df_grouped['target'] >= threshold).astype(int)

    test2 = test.merge(df_grouped, on=group_vars, how='left')

    mse = mean_absolute_error(test2['fraud'], test2['target_x'])

    t1 = set(test2.loc[test2['fraud'] == 1, 'ip'])
    print(len(t1))
    # 결과 출력
    print(f'mean_absolute_error: {mse:.9f}')
    
    unique_combinations_count_all = test2.groupby(group_vars).ngroups
    unique_combinations_count_1 = test2[test2['fraud'] == 1].groupby(group_vars).ngroups
    print(f'{unique_combinations_count_1 / unique_combinations_count_all*100}%')
    print()

In [ ]:
len(df_grouped[df_grouped['fraud'] == 1])

In [ ]:
test2

In [ ]:
unique_combinations_count_all = test2.groupby(group_vars).ngroups
unique_combinations_count_all

In [ ]:
unique_combinations_count_1 = test2[test2['fraud'] == 1].groupby(group_vars).ngroups
unique_combinations_count_1

In [ ]:
print(f'{unique_combinations_count_1 / unique_combinations_count_all*100}%')

## rank-based weighted averaging

In [ ]:
import numpy as np

def rank_based_weighted_ensemble(predictions, scores):
    # 모델 성능을 기준으로 랭크 계산
    ranks = scores
    # 가중치 계산
    weights = ranks / np.sum(ranks)
    # 각 모델의 예측에 가중치를 곱한 후 평균
    weighted_avg = np.average(predictions, axis=0, weights=weights)
    return weighted_avg

In [ ]:
if RBWA_Mode == 'ON' :
    # 예제 데이터
    predictions = np.array([tst_pred_L, tst_pred_X])
    scores = np.array([0.88010, 0.91796])  # 모델 성능 점수
    result = rank_based_weighted_ensemble(predictions, scores)
    output('output_1RBWA.csv', result)

In [ ]:
if RBWA_Mode == 'ON' :
    predictions = np.array([vld_pred_L, vld_pred_X])
    vld_pred_RBWA = rank_based_weighted_ensemble(predictions, scores)
    result = validate(y, vld_pred_RBWA, Eval_Metric)
    print(f'\nRank-based Weighted Averaging Validation: {result:.5f}')

## RNN

In [ ]:
if RNN_Mode == 'ON' :
    
    result = validate(y, y_vld_prob, Eval_Metric)
    print(f'\nRNN: {result:.5f}')
    output('output_1RNN.csv', y_pred_prob)

# 분석

## Corr. Matrix

In [ ]:
corr_matrix(train, Target, 20)

In [ ]:
corr_ft(train, Target, 10)

## Confusion Matrix

In [ ]:
def conf_matrix(pred):
    conf_matrix = confusion_matrix(y, pred)
    conf_labels = [f'{i}' for i in range(conf_matrix.shape[0])]
    conf_matrix_df = pd.DataFrame(conf_matrix, columns=conf_labels, index=conf_labels)

    plt.figure(figsize=(15, 6))
    plt.imshow(conf_matrix, interpolation='nearest', cmap=plt.cm.Blues)
    plt.xticks(np.arange(conf_matrix.shape[0]), conf_labels)
    plt.yticks(np.arange(conf_matrix.shape[0]), conf_labels)
    plt.xlabel('Predicted Label')
    plt.ylabel('True Label')
    for i in range(conf_matrix.shape[0]):
        for j in range(conf_matrix.shape[1]):
            plt.text(j, i, str(conf_matrix[i, j]), ha='center', va='center', color='black')
    plt.grid(False)
    plt.show()

if Objective == 'binary':
    conf_matrix(vld_pred_L>=0.5)
elif Objective == 'multi':
    conf_matrix(np.argmax(vld_pred_L, axis=1))

## Feature Importance

In [ ]:
def ft_importance(importance_value, cols, count, title):
    fi_df = pd.DataFrame({
        'Feature': cols,
        'Importance': importance_value
    })

    ft_sum = fi_df.Importance.sum()
    fi_df['Ratio'] = round(fi_df.Importance / ft_sum * 100, 2)
    fi_df = fi_df.sort_values(by='Ratio', ascending=False).head(count).reset_index(drop=True)

    fig = px.bar(fi_df,
        x='Importance',
        y='Feature',
        orientation = 'h',
        text='Ratio',
        color='Feature',
        title=title
    )
    fig.update_traces(textposition='outside')
    fig.show()

In [ ]:
if LGBM_Mode != 'OFF':
    ft_importance(ft_gain_L, LGBM_columns, 10, "LGBM Feature Importance")

In [ ]:
if XGB_Mode != 'OFF':
    ft_importance(ft_gain_X, XGB_columns, 10, "XGB Feature Importance")

In [ ]:
if CB_Mode != 'OFF':
    ft_importance(ft_gain_C, CB_columns, 10, "CatBoost Feature Importance")

In [ ]:
if RF_Mode != 'OFF':
    ft_importance(ft_gain_R, RF_columns, 10, "RandomForest Feature Importance")